<div style="font-size:16px;width:550px" class="stack-el">
  <p>
    <span style="color:#353535;font-size:20px"><b>Two Stories of Passive Income Excess</b></span>
    &nbsp;&nbsp;
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Two Stories of Passive Income Excess" >Tweet</a>
    <hr>
    <p>
      <i>These stories cropped up in the Hacker News comments to a post I made on 7.30.13. I was riveted, but felt that they got lost in the noise. I'm reposting them here as I think they deserve another read.</i>
    </p>


<p>
		1. <a href="https://news.ycombinator.com/user?id=willholloway">Will Holloway</a> 
	</p>

<p>
		"In my college days I had dreams of passive income, because I wanted to self-fund a career as a writer/director of micro-budget indie movies.
	</p>

<p>
		A friend told me about a friend who claimed to be making loads with affiliate marketing, so I started to immerse myself in performance marketing, the lifestyle was just too attractive.
	</p>

<p>
		I started with a $100 FB ads coupon and by the time that was spent I luckily stumbled on a profitable campaign.
	</p>

<p>
		I quickly realized that the globalized economy is extremely competitive, and internet businesses with low barriers to entry are radically hyper competitive.
	</p>

<p>
		There was no way to be completely passive and successful.
	</p>

<p>
		So I obsessively scaled my profitable campaigns and researched and experimented with new ones. I went to conferences, and sought to strike better deals with affiliate networks and even sought direct deals with the companies whose products I was selling.
	</p>

<p>
		I spent a lot of time building relationships with the ad reps of the companies I was buying ad space from.
	</p>

<p>
		I did a lot of industrial intelligence to find what was working and what wasn't.
	</p>

<p>
		My girlfriend at the time was finishing her last year of college and I did all of this while she was at class. When she finished school we embarked on a cross country trip, went to a lot of music festivals and moved to Boulder, CO.
	</p>

<p>
		It was a pretty sweet lifestyle for a while.
	</p>

<p>
		The money was still coming in from my old campaigns, but the distraction of being on a permanent working vacation took a toll on my efforts.
		Then the industry kind of imploded. The field got incredibly more competitive and a lot of affiliates began engaging in outright fraud to increase conversions.
	</p>

<p>
		Because of the unethical behavior, the companies I was buying traffic from started making it harder for affiliates to operate, they wanted national brands as advertisers and I don't blame them.
	</p>

<p>
		The industry was scummy, not so much because the conferences I went to had their opening night festivities at strip clubs. Or that even at the relatively more respectable events naked women wearing only paint would serve drinks.
	</p>

<p>
		It was just corrupted by the huge amounts of easy money made possible by the implosion of the global economy and the resulting plummeting of ad rates combined with the deceptive marketing practices employed by the affiliates.
	</p>

<p>
		When more and more people heard about the easy money available, only the sociopaths or otherwise ethically impaired could profit.
	</p>

<p>
		My dreams of easy passive income were dashed and I threw myself into software development. Now I create real value, instead of exploiting narrow arbitrage opportunities.
	</p>

<p>
		Making amazing software products is so much more valuable, rewarding and sane than film making anyhow.
	</p>

<p>
		To answer your question, is it possible? Yes it is, but it is very dependent on market conditions and they are forever trending to be less favorable.
	</p>

<p>
		There are still incredible opportunities in lead gen (better connotations than affiliate marketing) but these days you have to build a platform that delivers real value instead of just buying cheap traffic and selling it for more.
	</p>

<p>
		My most poignant memory from the time was being a part of a circle of festival goers holding a large circular nylon parachute that caught and launched a seemingly infinite series of glow sticks into the air in a fountain like manner at Rothbury on July 4th 2009 during a Grateful Dead set.
	</p>

<p>
		The money from that period is long gone, and so is the girl but the memories and skills remain.
	</p>

<p>
		Ill share one more story about the ethics of the industry because it's worth it:
	</p>

<p>
		An acquaintance in the biz once bribed a Facebook employee whose job it was to approve or deny ads on the platform. His inside man set his account to auto approve any ad he wanted.
	</p>

<p>
		He used that to get the scummiest, most downright fraudulent ads he could up.
	</p>

<p>
		He told me that he made $80,000 in 4 days by placing ads like 'Google is hiring, apply here' that led to credit card re-bill free trials for how to make money from home info products.
	</p>

<p>
		The bribed employee was led out of the building after four days of this.
		I had always wanted to write a book about this industry titled "Internet Bandits", it was quite fascinating. There was a time when a kid with a credit card, poor ethics and some basic web design skills could make $50,000 a month."
	</p>

  <p>
		<a href="https://news.ycombinator.com/item?id=6128111">source</a>
	</p>
  <p>
<p>
		2. <a href="https://news.ycombinator.com/user?id=ZiadHilal">Ziad Hilal</a>
</p>

<p>
		"Studied CS at university for 2 years, dropped out to pursue an idea. After a couple years of work, I was bringing in 20k a month.

<p>
		It was the most incredible time of my life. It lasted for 7 years before it hit the bottom. During that time I spent my days playing beach volleyball, tennis, golf, skateboarding, gaming, girls, beautiful car/apartment, the life in Santa Monica CA!
	</p>
<p>

		I wasn't the least bit afraid when the project/business started slowing down. I decided to launch two more ideas - BOTH FAILED. At that point I was burnt out and was running low on savings. I had no other choice but find employment. In my mind, I failed and lost everything. It hurt me for years, and still hurts me to this day.
	</p>
<p>

		While I have a great job, the feeling of imprisonment and failure is always with me. Eventually I got the strength to work on another idea during weekends and late nights. That gives you very little time, especially when you have a demanding job. It took over the course of a year to launch this new idea and it's not working out the way I hoped it would.
	</p>
<p>

		Call it what you want, but in my mind that's three failures in a row.
		I've learned that luck and timing are definitely part of the equation. I've learned that you can spend year after year obsessed with coding your ideas and end up with only the knowledge.
	</p>
<p>

		It's extremely tough and taxing to go down this route. Be prepared to fail multiple times. Be prepared to lose every cent of your savings.
	</p>
<p>
		I know I'll continue trying, hopefully one day I'll come back on top again :)"
	</p>

<p>
		<i>The product:</i>
<p>
		"I created a CMS that did user integration with message boards, there were few to none at the time.
		I made many mistakes, the biggest ones were:<br>
		1) Having hit a relatively high success at 21, I felt indestructible. I had no fear of spending most of my income on entertainment. I knew nothing about budgeting, I should have saved.<br>
		2) Towards the end, I definitely spent too much time having fun and ignoring the product. When you're on a high roll for so many years, you feel invincible.<br>
	</p>

<p>
		The decline started gradually, but in my mind I always believed I could easily bring everything back on top. At the end, I repeatedly did everything in my power to save the product but it was too late."
	</p>

<p>
		<a href="https://news.ycombinator.com/item?id=6127914">source 1</a>
		<a href="https://news.ycombinator.com/item?id=6128679">source 2</a>
	</p>

    <span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Two Stories of Passive Income Excess" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://edu.mkrecny.com/thoughts/2-stories-of-passive-income-excess" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
  </p>
  <p>
  <iframe frameborder="no" scrolling="no" height="50px" width="350px" src="http://hnlike.com/upvote.php?link=http%3A%2F%2Fx.myles.io%2F19BPrtG&title=">iframes not supported by your browser</iframe>
  </p>

  <p>
	  <a href="https://news.ycombinator.com/item?id=6146930">View Comments</a>
	</p>

</div>
