<div style="width:550px" class="stack-el">
  <p>
    Myles in <b>2014</b>
    <hr>
  </p>
  <p>
    I'm currently testing two technology business hypotheses.
  </p>
  <p>
    <a href="http://ppln.co">Pipeline</a> is instapaper for prospects.
  </p>

  <a href="http://asimov.co">Asimov</a> is your data journal.

  <p>
    If either of these ideas excite you, I'm seeking workspace (NYC, Sydney, London, Berlin), co-founders, and possibly funding.
  </p>

  <p>
    Shoot me a line <a href="mailto:mkrecny@gmail.com">mkrecny@gmail.com</a> or help me by sharing this.
    <a href="https://twitter.com/share" data-text="Work with @recborg in 2014" class="twitter-share-button">Tweet</a>
  </p>
  
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>