<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535;font-size:20px"><b>A Passive Income Hacker's View on Wealth.</b></span>
    &nbsp;&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-text="A Passive Income Hacker's View on Wealth" data-url="http://x.myles.io/15t2TvB">Tweet</a>
    <hr>

  <p>
	How wealthy are you?</p>
 <p> 
  If you're an employed programmer living in the first world, you're probably making somewhere between $50k and $120k annually. If you're at a startup (but not a founder) you may also have between 0.5% and 5% of equity in the startup. The salary alone makes it an attractive package, but in terms of time and freedom, you're not wealthy at all.
  </p>

  </p>
	Most people think of wealth as a combination of money and other assets that have a dollar value (like houses, cars and stocks). In this view of wealth, lawyers, doctors, consultants, bankers and programmers may be considered wealthy.
  </p>

  <p>
	But if you're interested in pursuing passive income, you probably have a different view of what constitutes wealth. Money still plays an important role, but having time, and freedom are equally important. In this discussion, I think of freedom, as a lack of obligations to people and places. For example, not having to be at a certain office, not having to answer to a manager or investors, and not having employees to provide for is freedom. 
  </p>

  <p>
	In some cases, these 3 constituents of wealth trade off with each other. For example if you want to make more money, you're probably going to have to trade some time (to do marketing or add a feature). If you want more freedom, you're probably going to have to trade some money, at least in the short term (e.g. not taking investment or quitting your job).
  </p>

  <p>
	It's helpful to think of the passive income hacker's goal as a constrained optimization problem in 3 dimensional space. The 3 dimensions are money, time and freedom, and the hacker is seeking a local maximum on the plane that describes how these 3 dimensions trade off with each other.
  </p>



  <p>
	Unfortunately, if you're a startup hacker, it's considered normal for you to work 12 hour days and come into the office on weekends. Most of the time you don't have a say in the big product decisions, but you do have to implement the decisions of others. Even if you have a zealous passion for coding (I know I do) the long days spent immobile at a desk programming can be lonely, exhausting and taxing on your body. 
  </p>

  <p>
	That's a shame, because as a programmer in the 21st Century, you're in a unique position to do something that most people simply can't; live a life with adequate income, lots of time and total freedom over what you do with it. Hunched over your keyboard all day, guzzling free soda or frenziedly discussing the latest javascript framework is quite simply wasting one of the greatest lifestyle opportunities of this century.
  </p>

  <p>
	  <a href="https://news.ycombinator.com/item?id=6127049">View Comments</a>
	</p>
  <p>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="A Passive Income Hacker's View on Wealth" data-url="http://x.myles.io/15t2TvB">Tweet</a>
  </p>
</div>
