<div class="stack-el skinny">
  <p>
    <b>Don't Shoot the Dog (1, 2, 4)</b>
    <hr>
  </p>
  <p>
    <i>Chapter 1</i>
  </p>
  <p>
    The notion that positive reinforcement is a more effective agent
    for training/teaching than negative reinforcement is a happy truth
    for me as it corroborates what I've learned from the sunday sermon I watched
    (on happiness) : that focusing on the positive aspects of someone's
    behavior makes you (in this case the trainer) feel good as well.
  </p>
  <p>
    In this chapter I was particularly fascinated by the idea of 
    'relative reinforcers' - ie that rain is a positive reinforcer for
    ducks but not necessarily for us.
  </p>
  <p>
    Personally, my biggest takeaway from this chapter is that personal reinforcement
    is probably really important as a way to avoid anxiety / depression, especially
    when you lead a fairly solitary lifestyle (which in itself is a negative reinforcer).
    It's hard to imagine reinforcing myself as being effective though..
  </p>
  <p>
    <i>Chapter 2</i>
  </p>
  <p>
    To me, the most striking thing about this chapter is how evolution via mutation, heritable
    variation and natural selection is an almost perfect analogy for 'successive approximation'.
  </p>
  <p>
    You can't just manifest behavior out of nowhere - you need to evolve it based on
    a pre-existing 'mutation'. The variation is 'heritable' in the sense that there's a memory
    of the previous iteration (the reinforced behavior). Selection is obviously the 
    reinforcement. Behavior change through Darwinian forces.
  </p>
  <p>
    <i>Chapter 4</i>
  </p>
  <p>
    I was pretty fascinated by methods 5 & 6: Untraining via developing an a habit
    that's inconsistent with the target behavior, and training the target behavior 
    to only occur on cue.
  </p>
  <p>
    I really don't like it when my girlfriend talks about certain things that happened
    in her past, things that make me uncomfortable. I'm thinking about training her to
    talk about those things on cue. Asking her to talk about them at times so that
    over time she doesn't feel the need to bring them up spontaneously - knowing that I'll
    ask about them.
  </p>
</div>
