<div class="stack-el skinny">
  <p>
  <b>Materials</b>
  </p>
  <hr>
  <ul>
  <li> Strawberries (at least 2 juicy ones)</li>
  <li>Quarter teaspoon of Table salt/NaCl (don’t use too much of this)</li>
  <li>A teaspoon of dishwashing detergent (any brand will do)</li>
  <li>Meat Tenderizer (any brand should work)</li>
  <li>Half a glass of water Ziplock baggie (1 quart volume)</li>
  <li>A disposable coffee filter A plastic funnel (to hold the coffee filter in place. Feel free to ditch it if you have a better method)</li>
  <li>Rubbing alcohol (91% isopropanol works better than the 70% strength)</li>
  <li>Ice or a fridge to cool the rubbing alcohol prior to using</li>
  <li>A tall glass (Note: don’t drink this stuff.)</li>
  <li>A thin wooden stick or skewer (to pull out the DNA)</li>
  </ul>
  <p>
  <b>Protocol</b>
  </p>
  <hr>
  <ol>
  <li>Place the strawberries into a ziplock baggie.</li>
  <li>Add the detergent, meat tenderizer and salt (again, don’t use too much salt).</li>
  <li>Seal the baggie and “mechanically disrupt the cells”. This “science speak” for you to start squishing the strawberries in the baggie with your hands. Squish and mix them really well with all of the ingredients. Knead the bag for about 5 minutes until you have the consistency of a smoothie. (Note: again, don’t drink this crap)</li>
  <li>Open the baggie and add a little bit of water. Shake it up a little.</li>
  <li>Place your filter in the funnel and place this in the glass. Now pour the contents of the baggie (the strawberry mixture) into the filter.</li>
  <li>Let the contents drip through the filter into the glass. It should look milky pink. Be patient! If the filter is working too slowly, you can gently squeeze it, but not too hard or it may break.</li>
  <li>Holding the glass at an angle, very slowly pour the chilled rubbing alcohol down the side into the strawberry mixture. You want to pour it slow enough so that a layer of the clear alcohol forms on top of the pink layer underneath, since the alcohol is less dense than the water layer containing the strawberries. If you pour too quickly you won’t see this layer form, so remember to do it slowly. Pour enough alcohol so that you have at least a 2 inch layer on top.</li>
  <li>Now set your glass down. You should start to see a wispy white layer start to form between the bottom pink layer and the clear alcohol on top (like the photo shown in class). It should take about a minute or more to develop. It will start to look like a small ball of cotton.
  Sometimes it looks like many small pieces of cotton. Give it some more time and it will gently rise to the surface. This is the strawberry’s DNA starting to precipitate!</li>
  <li>Using your thin wooden stick, you can now fish out the DNA. It will be rather “stringy” since DNA molecules form long chains. These types of molecules are known as “polymers”.</li>
  </ol>
  <hr>
  <blockquote class="twitter-tweet"><p>Was told to extract DNA from a strawberry with rubbing alcohol. Made Strawberry Daiquiri instead. cc @<a href="https://twitter.com/urbanorganism">urbanorganism</a></p>&mdash; Myles Recny (@recborg) <a href="https://twitter.com/recborg/status/246649976036409344" data-datetime="2012-09-14T16:41:51+00:00">September 14, 2012</a></blockquote>
</div>
