<link rel="stylesheet" href="/reveal/css/main.css">
<link rel="stylesheet" href="/stylesheets/pres.css">
<div id="rvl-cont" class="reveal">
  <div class="slides"> 
    <section>
      <p style="margin-top:110px">
        self-tracking with
      </p>
      <p>
        sound & memory  
      </p>
      <embed src="/images/headphones.svg" type="image/svg+xml" />
      <embed src="/images/brain.svg" type="image/svg+xml" />
    </section>
    <section>
      <p style="margin-top:110px">
        3mi BK
      </p>
      <p>
        TRON  
      </p>
      <embed src="/images/ipod.svg" type="image/svg+xml" />
    </section>
    <section>
      <p style="margin-top:145px">
        improvement?  
      </p>
      <embed src="/images/cellphone.svg" type="image/svg+xml" />
      <embed src="/images/alarmclock.svg" type="image/svg+xml" />
    </section>
    <section>
      <p style="margin-top:70px">
        memorable
      </p>
        <embed src="/images/music.svg" type="image/svg+xml" />
        <p>
          at different
        </p>
        <embed src="/images/map.svg" type="image/svg+xml" />
    </section>
    <section>
      <p style="margin-top:130px">
        you  
      </p>
      <embed src="/images/run.svg" type="image/svg+xml" />
      <p>
        you 
      </p>
    </section>
  </div>
</div>
<script type="text/javascript" src="/reveal/js/reveal.min.js"></script>
<script type="text/javascript" src="/reveal/lib/js/head.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.navigator').hide();
    //$('.myles-footer').css('text-align', 'center');
    $('.myles-footer').hide()
    Reveal.initialize({
    });
  });
</script>
