<link rel="stylesheet" href="/reveal/css/main.css">
<link rel="stylesheet" href="/stylesheets/pres.css">
<div id="rvl-cont" class="reveal">
  <div class="slides"> 
    <section>
      <p style="margin-top:110px">
        the  
      </p>
      <embed src="/images/brain_2.svg" type="image/svg+xml" />
      <p>
        that compensates  
      </p>
    </section>
    <section>
      <p style="margin-top:110px">
        5yrs old  
      </p>
      <embed src="/images/glasses_2.svg" type="image/svg+xml" />
      <p>
        no improvement
      </p>
      <embed src="/images/rocket.svg" type="image/svg+xml" />
    </section>
    <section>
      <p style="margin-top:120px">
        albino?
      </p>
      <embed src="/images/eye.svg" type="image/svg+xml" />
      <p>
        optic neuropathy
      </p>
    </section>
    <section>
      <p style="margin-top:110px">
        the  
      </p>
      <embed src="/images/brain.svg" type="image/svg+xml" />
      <p>
        compensates, adapts
      </p>
    </section>
    <section>
     <p style="margin-top:110px">
      deterioriation
     </p>
      <embed src="/images/clock_2.svg" type="image/svg+xml" />
     <p>
      ? 
     </p>
    </section>
  </div>
</div>
<script type="text/javascript" src="/reveal/js/reveal.min.js"></script>
<script type="text/javascript" src="/reveal/lib/js/head.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.navigator').hide();
    //$('.myles-footer').css('text-align', 'center');
    $('.myles-footer').hide()
    Reveal.initialize({
    });
  });
</script>
