<div style="text-align:center" class="headroom-m clearfix stack-el slim">
  <div style="border-radius:20px;float:left;width:100%;background-color:#FD7279">
    <div class="headroom-s"></div>
      <b style="color">Romantic Health</b>
    <br><br>
    <p style="margin:0px auto;width:50%">
      My partner is the most important thing 
      in my life.
    </p>
    <div style="color:white;font-size:100px">
      <i class="icon-heart"></i>
    </div>
    <p style="margin:0px auto;width:50%">
      I think that how we're doing at any given moment
      plays a huge part in my physical, mental and social health.
    </p>
    <div style="color:white;font-size:100px">
      <i class="icon-sitemap"></i>
    </div>
    <p style="margin:0px auto;width:50%">
      So how do we measure how we're doing?
    </p>
    <div style="color:white;font-size:100px">
      <i class="icon-dashboard"></i>
    </div>
    <p style="margin:0px auto;width:50%">
      1. Measure the frequency of 'words of affirmation'    
      in text messages, emails and phone calls
    </p>
    <div style="color:white;font-size:100px">
      <i class="icon-comment-alt"></i>
    </div>
    <p style="margin:0px auto;width:50%">
      2. Measure the frequency of love-making
      and compare to a statistial norm
    </p>
    <div style="color:white;font-size:100px">
      <i class="icon-heart-empty"></i>
    </div>
    <p style="margin:0px auto;width:50%">
      3. Meaure the amount of time 
    </p>
    <div style="color:white;font-size:100px">
      <i class="icon-time"></i>
    </div>
    <p style="margin:0px auto;width:50%">
      ..that our phones spend in the same 
      geographic location
    </p>
    <div style="color:white;font-size:100px">
      <i class="icon-globe"></i>
    </div>
    <p style="margin:0px auto;width:50%">
      ..and whenever things are trending down
    </p>
    <div style="color:white;font-size:100px">
      <i class="icon-arrow-down"></i>
    </div>
    <p style="margin:0px auto;width:50%">
     let me know. 
    </p>
    <div style="color:white;font-size:100px">
      <i class="icon-envelope"></i>
    </div>

</div>

