<div class="stack-el skinny">

<p>
  <i>
    This is a reaction to <a href="http://www.theatlantic.com/magazine/archive/2012/06/the-perfected-self/308970/">
    The Perfected Self</a> by David H. Freedman 
  </i>
</p>

<p>
  For me, Freedman raises a few really interesting ideas.
</p>

<p>
  <ol>
    <li>Skinnerian re-inforcement is the most succesful model of behavior change we have.</li>
    <p>
      I think that, "all organisms tend to do what the world around them rewards them for doing"
      could be supplemented by a Darwinian/Evolutionary perspective. Evolutionary theory holds
      that all organisms tend to do that which will increase their chances of reproductive 
      success - and survival in general. I can imagine a suite of solutions that target this hard
      -wired behavior to help users achieve goals. In his description of Cameron's weight loss
      program, Herman doesn't really shed any light on the reward component of that particular
      Skinnerian system. I'd really like some more color on how participants were rewarded (apart
      from the odd congratulatory tweet) for weight loss progress.
    </p>
    <li>The high cost when executed in the "Skinner Box" context can be reduced by 
    web-based/mobile solutions</li>
    <p>Certainly true - but at what loss to effectiveness? Ulitmately people can lie
    to their social networks - and fool instrumentation. I think short of truly invasive
    and unfoolable instrumentation a significant efficiency cost will be incurred. Having said that,
    Herman's point that even a small improvement in the current epidemic saves billions of dollars
    is well taken, and extremely powerful.</p>
    <li>"Smart Algorithms" and better instrumentation can improve tracking 
    and pattern matching related ot behavior change</li>
    <p>This is a fanstasic idea, and certainly could be a bridge between the inductive power
    of a counsellor in pattern matching and a 'dumb' app. However, I think the author is <i>seriously</i>
    overestimating the current state of Machine Learning and AI in general if he thinks an effective
    implementation would be available in the next few years. Making recommendations on Netflix is one thing
    but isolating causal environmental and social parameters in a 'nexus causality' situation like real-life
    is another.</p>
    <li>These technologies have the potential to bring about massive national savings
    on healthcare</li>
    <p>I'd like to see more government subsidized health tech startups launched with this
    reality in mind.</p>
  </ol>
</p>

</div>
