<div class="stack-el skinny">
<p>
  <img class="wide" src="/images/dna/products.jpg" />
</p>
<p>
  The assembled cost me $14.75 in total.
</p>
<p>
  <img class="wide" src="/images/dna/disruption.jpeg" />
</p>
<p>
  Chemical disruption was performed by my beautiful assistant.
</p>
<p>
  <img class="wide" src="/images/dna/dna-in-bag.jpeg" />
</p>
<p>
  Strawberry gloop.
</p>
<p>
  <img class="wide" src="/images/dna/dna-filter.jpeg" />
</p>
<p>
  I couldn't find a plastic funnel, so taped the edges of the coffee filter to
  my mason jar.
</p>
<p>
  No photographic evidence, but after an inch or so of Strawberry gloop had dripped
  through into the jar, I pulled off the filter and poured in the rubbing alcohol
  (after taking a healthy swig).
</p>
<p>
  <img class="wide" src="/images/dna/dna-clouds.jpeg" />
</p>
<p>
  Clouds of DNA began to rise.
</p>
<p>
  <img class="wide" src="/images/dna/dna-above.jpeg" />
</p>
<p>
  The view was better from above.
</p>
<p>
  <img class="wide" src="/images/dna/dna-extraction.jpg" />
</p>
<p>
  Extraction with a skewer. I am shocked by how robust these
  clumpy strands are.
</p>
<p>
  <img class="wide" src="/images/dna/dna-in-bag-final.jpeg" />
</p>
<p>
  Stored in a ziploc (and fridge) for later analysis.
</p>
</div>
