<div class="stack-el skinny">
<p>
  <i>This is a reaction to <a href="http://farmerandfarmer.org/medicine/">Modern Medicine</a>
  by Jonathan Harris</i>
</p>
<p><b>Social Engineers</b></p>
<hr>
<p> 
  This is a glamorous idea. The reality is that 
  facebook and twitter are outliers, and judging 
  the creative/destructive potential of a whole
  industry based on what happens at a handful of companies
  is silly. The sad fact is that the code written by 99%
  of software engineers never sees the light of day. 
  Having said that, the social perogative for those
  lucky few engineers is palpable.
</p>
<p><b>Urges + Outcomes</b></p>
<hr>
<p>
  I want to create technology that goes beyond a pre-existing human urge.
  I want to create something that engenders an urge in humans
  that they've never felt before. An new urge that leads us to do new things.
</p>

<p><b>The Ethics of Code</b></p>
<hr>
<p>
Issues with this
<ul>
  <li>
    Engineers are very rarely the ones designing addictive products. The engineers
    just design the implementation approach - which doesn't affect the UX
  </li>
  <li>
    Plenty of things are addictive. Should addictive music or the Harry Potter 
    novels be subject to the kind oversight? 
  </li>
</ul>
</p>
<p><b>Healers + Dealers</b></p>
<hr>
<p>
  This is certainly a correct characterization of a great many sites.  
  The post ignores the existence of non-marketplace tools - things like
  the 37Signals products, github, trello and so forth.
  Ultimately I think that the dealers which exist online are nothing new
  to the human condition. We've got that stuff in previous eras from TV,
  gossip columns etc.
</p>
<p><b>The Problem of Advertising</b></p>
<hr>
<p>
  I pretty much agree wholeheartedly with this - except that I think
  the commoditization of humans is obvioulsy nothing new - and online
  advertising is one of its tamer iterations. I'd <i>really</i> love 
  to see paying for good quality tools on the web become the dominant
  paradigm. I think it's shifting that way as the web become more and more
  the central and important tool in our lives. People realize that using
  good tools produces good results and should be willing to pay for that.
  The web is no longer a side-show, a novelty, only suited for cat videos 
  and porn.
</p>
<p><b>A Staging Groud for the Future</b></p>
<hr>
<p>
  It's a scary and beautiful future painted here. For such a subscriber
  to Darwinian theory, I'm surprised that the author is so terrified 
  by initial conditions. Yes choices flippantly made by a team of designers
  in Palo Alto may have massive ripple effects - but what about survival of 
  the fittest? I believe that good design, ethical design will ultimately
  out-reproduce sinister phenotypes.
</p>
<p><b>Medicine Man</b></p>
<hr>
<p>
  <i>"We should act because the world is getting crazy, and beautiful interventions are needed."</i>
  <br><br>
  This really pisses me off; a terrible non-answer at the end of an otherwise well thought out piece.
  My answer would be that we should act because <i>good</i> interventions can actually decrease
  the amount of complexity / entropy in a system - as well as solving its ailments. Often
  the high level of complexity is the ailment.

</p>

<p><b>Crazy Times</b></p>
<hr>
<p>
  I think the problem is that not enough people recognize
  these 'crazy times' for what they are. What I mean, is that
  not enough people have an awareness of global issues. It's 
  only the elite, educated few who even have
  the luxury of an opinion like:<br><br>
  <i>"Shifting perspective between these two scales and still maintaining our common humanity is what it's all about."</i>

</p>
<p><b>A Self-Fulfilling Prophecy</b></p>
<hr>
<p>
  Beautiful
</p>
</div>
