<div class="stack-el skinny">
  <p>
    <b>Protocol for making the 'Kent Avenue', a beverage</b>
    <hr>
  </p>
  <p>
    <i>Things you'll need</i>
  </p>
  <p>
    <ul>
      <li>1 shot of gin</li>
      <li>1 shot of sweet vermouth</li>
      <li>1 cup of ice (cubed)</li>
      <li>an orange</li>
      <li>a spoon</li>
      <li>a short <i>round</i> glass</li>
      <li>a potato peeler</li>
      <li>a fridge</li>
    </ul>
  </p>
  <p>
    <i>Method</i>
  </p>
  <p>
    <ol>
      <li>Cool the glass in the fridge (15 minutes).</li>
      <li>Extract a 1x3 inch sliver of oragne peel from the orange, using the 
      potato peeler.</li>
      <li>Place ice and orange peel in glass</li>
      <li>Pour in 1 shot of gin</li>
      <li>Pour in 1 shot of vermout</li>
      <li>Muddle* the mixture for approximately 2 mins with the small
      end of a spoon</li>
    </ol>
  </p>
  <p>
    <i>Muddle</i>: stir thoroughly in circular motions. The objective is 
    to blend the liquid components of the ingredients without causing 
    too much mechanical disruption of the solids.
  </p>
</div>
