<div class="stack-el skinny">

  <div class="clearfix" >
    <div style="float:left;font-size:80px">
      <i class="icon-twitter"></i>
    </div>
    <div style="margin-left:20px;float:left">
      <h1>"Follow me" - an experiment</h1>
    </div>
  </div>
  <p>
    <i>
      The amount of money we spend on social-media marketing is 
      staggering. The yearly spend in the US alone is in the high billions.
      Greedily inspired by such a mega-spend, the goal of this experiment is to simply 
      make people follow an arbitrary account on twitter. 
      The design of the experiment is guided by BJ Fogg's behavior model, which
      states that behavior change (B) is a function of motivation (M), ability (A),
      and triggering (T).
    </i>
  </p>
  <hr>
  <div class="clearfix" >
    <div style="float:left;font-size:80px">
      <i class="icon-beaker"></i>
    </div>
    <div style="margin-left:20px;float:left">
      <h4>The experiment in terms of B, M, A and T</h4>
    </div>
  </div>
  <p>
    <b>Behavior [B]</b> (cause someone to) follow a given twitter account.
  </p>
  <p>
    <b>Trigger [T]</b> The trigger is a canonical social network 'hot trigger'.
  </p>
  <p>
    <ol>
      <li>
        Code scrapes twitter for tweets containing certain words. Filtering-by-words 
        is how we pinpoint our 'desired audience'.
      </li>
      <li>
        When an appropriate tweet is found, the code favorites that tweet, on behalf of
        the user using this code tool.
      </li>
      <li>
        Twitter sends an email / mobile notification to the user, saying that their tweet that was favorited.
        Also the notification will show up in the connect tab on twitter.com / mobile devices. The connect
        tab will now be highlighted since there's something new there.
      </li>
      <li>
        The notification contains the a bio of the favoriters account - and a big button prompting the
        recipient to follow that user.
      </li>
    </ol>
  </p>
  <p>
    <b>Ability [A]</b> The users ability (or 'simplicity') to perform the desired behavior is extremely high.
    Most users will receive the notification via 3 channels.  
  </p>
  <p>
    <ol>
      <li>On twitter.com in the connect tab</li>
      <li>On their mobile device as a OS level notification and in the connect tab</li>
      <li>In their email inbox</li>
    </ol>
    In each case the desired behavior is <i>2 clicks away</i>. The first click takes you to 
    the users twitter profile, and the second click (on a big 'Follow' button) allows you to follow
    the user.
  </p>
  <p>
    <b>Motivation [M] - Social Cohesion & Anticipation</b>
  </p>
  <p>
    <i>Social Cohesion</i> is a motivator in this experiment as the recipient of the
    favorite wants to feel connected to this nice person who's appreciating their tweets.
    It's also possible that the recipient will fear social rejection if he/she doesn't
    show some sign of appreciation for the favorite.
  </p>
  <p>
    <i>Anticipation</i> is a motivator as the recipient anticipates future positive
    signals from this user (which make them feel good). Also, the recipient is anticipating
    future information consumption originating from this user. This might take the form of
    images, video, news articles, entertaining tweets etc.
  </p>
  <hr>

  <div class="clearfix" >
    <div style="float:left;font-size:80px">
      <i class="icon-camera-retro"></i>
    </div>
    <div style="margin-left:20px;float:left">
      <h4>Images of triggers</h4>
    </div>
  </div>
  <i>1. Email notification</i>
  <p><img style="width:700px" src="/images/followme/email.png" /></p>
  <i>2. Connect tab notification</i>
  <p><img style="width:700px" src="/images/followme/notif_connect.png" /></p>
  <i>3. Profile & Follow button - 1 click away</i>
  <p><img style="width:500px" src="/images/followme/profile.png" /></p>
  <hr>

  <div class="clearfix" >
    <div style="float:left;font-size:80px">
      <i class="icon-bar-chart"></i>
    </div>
    <div style="margin-left:20px;float:left">
      <h4>Charts & Numbers</h4>
    </div>
  </div>
  <p>
    <i>
      Each of the 3 participants was required to select 3 'targeting' terms (not disclosed here).
      The terms were relevant to each individual's professional goals and personal interests.
    </i>
  </p>
  <p>
    <i>
      For the period spanning Wednesday through Sunday, 1000 relevant tweets were favorited
      on behalf of each of the target users, per day - making for a total of 5000 favorites.
    </i>
  </p>
  <p>
    <i>
      The average conversion (meaning a follow) rate on a favorite was 7.8%. Remarkably
      high compared to search engine click throughs and paid-for social network advertising.
    </i>
  </p>
 <p>
  Results for <a href="http://twitter.com/stephnieman">@StephNieman</a>
 </p>
 <div id="chart_div_stephnieman" style="height:400px;width:600px;"></div>
 <p>
  <i>Daily follow velocity before:</i> 5.1 followers per day<br>
  <i>Daily follow velocity after:</i> 40.3 followers per day
 </p>

 <p>
  Results for <a href="http://twitter.com/lifeoffbi">@lifeoffbi</a>
 </p>
 <div id="chart_div_lifeoffbi" style="height:400px;width:600px;"></div>
 <p>
  <i>Daily follow velocity before:</i> 4.5 followers per day<br>
  <i>Daily follow velocity after:</i> 10.2 followers per day
 </p>

 <p>
  Results for <a href="http://twitter.com/uberzet">@uberzet</a>
 </p>
 <div id="chart_div_uberzet" style="height:400px;width:600px;"></div>
 <p>
  <i>Daily follow velocity before:</i> 0.2 followers per day<br>
  <i>Daily follow velocity after:</i> 6.4 followers per day
 </p>

  <div class="clearfix">
    <div style="float:left;font-size:80px">
      <i class="icon-pencil"></i>
    </div>
    <div style="margin-left:20px;float:left">
      <h4>Conclusions</h4>
    </div>
  </div>
  <p>
    The experiment was shockingly successful at achieving the desired behavior. All 3 participants
    more than doubled their daily follower gain rate.
  </p>
  <p>
    To put this in terms of BJ Fogg's behavior model, the experiment was successful 
    due to the following characteristics:
    <ol>
      <li>Motivation: this was definitely the smallest force. Certainly not comparable
      to the motivation to loose weight, quit smoking or have sex. However there's a 
      reasonable desire for social cohesion, as well as an anticipation of future favorites
      and information/entertainment.</li>
      <li>Triggers: Email notification, mobile OS notifications and connect tab notifications
      on twitter.com and twitter mobile apps. The trigger comes in the form of a positive
      social gesture from one user to another. The 'FOLLOW' button included in these triggers
      is prominent and looks deliciously clickable</li>
      <li>Ability: this was extremely high. Once the trigger is presented, 
      fulfilment of desired behavior is a mere
      2 clicks away - easy for anyone.</li>
    </ol>
  </p>

  <p>
    <i>
      This experiment was facilitated by <a href="http://followgen.com">followgen</a>,
      a twitter engagment platform that I'm building.
    </i>
  </p>

</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    
    var data = google.visualization.arrayToDataTable([
      ['Day', 'Followers'],
      ['Wed',  403],
      ['Thu',  445],
      ['Fri',  491],
      ['Sat',  553],
      ['Sun',  606]
    ]);

    var options = {
      title: '@StephNieman Followers',
      chartArea:{left:50}
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_stephnieman'));
    chart.draw(data, options);

    var data = google.visualization.arrayToDataTable([
      ['Day', 'Tweets'],
      ['Wed',  2385],
      ['Thu',  2393],
      ['Fri',  2416],
      ['Sat',  2422],
      ['Sun',  2436]
    ]);

    var options = {
      title: '@lifeoffbi Followers',
      chartArea:{left:50}
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_lifeoffbi'));
    chart.draw(data, options);

    var data = google.visualization.arrayToDataTable([
      ['Day', 'Tweets'],
      ['Wed',  4],
      ['Thu',  12],
      ['Fri',  19],
      ['Sat',  27],
      ['Sun',  36]
    ]);

    var options = {
      title: '@uberzet Followers',
      chartArea:{left:50}
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div_uberzet'));
    chart.draw(data, options);
  }
</script>
