<div class="stack-el skinny">
  <p>
    I recently listened to a talk by Dan Siegel. It's about a phenomenon that he calls 
    <i>The Emerging Mind.</i>
  </p>
  <audio controls="controls">
    <source src="http://www.thersa.org/__data/assets/file/0009/635598/20120711DanSiegel.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
  <p>
    The Emerging Mind refers to Dan's idea that the mind is <i>an embodied and relational process that regulates
    a flow of energy and information.</i>
  </p>
  <p>
    It's a complex system that exhibits an emergent property: self organization. This organization (or order), takes place not
    only in your own <i>embodied brain</i>, but can catalyze mirror order in the <i>embodied brains</i> of others. It is <i>profoundly social</i>.
  </p>
  <hr>
  <p>
    Siegel's definition of the mind reminds me of <a href="http://en.wikipedia.org/wiki/Cellular_automaton">cellular automata</a>.
  </p>
  <p>
    According to Stephen Wolfram, there's <a href="http://classes.yale.edu/fractals/CA/CAPatterns/Wolfram/Wolfram.html">4 types</a> of these abstract, computable systems.
  </p>
  <p>
    Homogenous
  </p>
    <canvas id="homogenous" class="automata"></canvas>
  <p>
    Periodic  
  </p>
  <canvas id="periodic" class="automata"></canvas>
  <p>
    Chaotic
  </p>
  <canvas id="chaotic" class="automata"></canvas>
  <p>
    Complex
  </p>
  <canvas id="complex" class="automata"></canvas>
  <div class="small-text">
    <i>(I coded these myself. The code is <a href="/javascripts/automata.js">here</a>).</i>
  </div>
  <p>
    I think (and I think Siegel would agree) that 'complex' cellular automata are a great model for Siegel's model of the mind. Yes, that 
    would make them a <i>meta-model</i>.
  </p>
  <p>
    The embodied brain is a network of <i>neurons</i> connected to other neurons. The state
    of a given neuron at any time is determined by the state of the neurons it's connected to.
    Neurons communicate/transmit information about their state to neighboring neurons via synapses.
  </p>
  <p>
    Similarly a cellular automaton is a network of 'cells' connected to other cells by the logic of your program.
    In the examples I've provided above, each cell has 8 neighboring cells that affect it's state. In the brain,
    each 'cell' (neuron) has about 10,000 neighboring cells that affect it's state.
  </p>
  <p>
    It's incredible how 'complex' the behavior of these minute binary networked systems can become. To me, it's beautiful.
  </p>
  <p>
    My opinion is that complexity scales with the number of nodes in the graph, and the number of connections each
    node has to others. Because of this I think that automata are a good model for the embodied brain.
  </p>
  <p>
    But if these automata are to be a meta-model for Siegel's emerging mind, 
    then I want a few questions answered:
  </p>
  <ol>
    <li>
      <i>How can we model the relational aspect?</i> Presumably a given 'mind' would be an emergent property of an
      automata containing other minds.
    </li>
    <li>
      <i>How can we (as Siegel seems to suggest) have free will?</i> These systems are clearly deterministic. How can we
      <i>really</i> consciously fix/improve our mental capacities as Siegel suggests?
    </li>
    <li>
      <i>How can we deploy enough computational resources to <b>really</b> test this model?</i> Not in your browser, that's for sure.
    </li>
    <li>
      <i>How can we find good candidate embodied brain models from the <b>vast</b> space of possible automata logic systems?</i> There are trillions, even for this simple binary state 8-neighbor network.
    </li>
    <li>
      <i>What are the mathematical properties of these 'good candidate' systems?</i> If we discover them, can we then generate other complex systems for our own ends?
    </li>
  </ol>
  <hr>
  <p>
    Finally, I'd like to share an email conversation I had on this topic a few months ago with <a href="http://www.facebook.com/ehielscher">Eric Hielscher</a>
    , a Computer Scientist.
  </p>
  <i>
  <p>
	  I used to think of it this way.  I've since realized that the reason I was drawn to the idea was that I wanted desperately to reduce consciousness to something physical.  I wanted a neat picture where "all there is is matter-energy and space-time."  However, I've come to lose support for this view.
  </p>
  <p>
	  One way for me to say why I think emergence won't really help is by way of analogy.  When we think of emergence, one typical example is complex behavior in a bee hive arising from simple micro-decisions.  Another is economic behavior - say, in Krugman's book on emergence, self-organization of populations on a macro-scale in terms of where they live based on small decisions regarding similar things.  In both of these cases, we see that the macro phenomenon that emerged was something of the same category as that of the micro phenomena from which it emerged.
  </p>
  <p>
	  This is not the case, or so my current view is such that it's not, with consciousness.  We have neuronal phenomena that make up the brain.  These taken in concert are supposed to give rise via some sort of emergence to the macro phenomenon that is conscious, first-person, phenomenological experience.  The problem with the analogy between consciousness and the above-mentioned examples of emergence is that consciousness is not simply more physical/neuronal stuff.  Consciousness just is not, is categorically distinct, from neuronal firing.  (This is sort of begging the question to call it categorically distinct I admit, but consciousness is surely not anything similar in any obvious way to neuronal firing.)
  </p>
  <p>
	  It's like saying that matter is an emergent property of space.  It doesn't make sense when you think about it, at least without further details connecting the two and explaining how the emergence actually works.  We have nothing of the sort right now, and we also have no examples of a phenomenon emerging from something else that is categorically distinct.  In fact, it's hard to imagine how such a process would even go.  Thus, explaining away consciousness as just an emergent property of the brain seems to me a cop out that people who, like I was/still am, want to have a purely physical universe.
  </p>
  <p>
	  With this in mind, it seems to me that we at least have to take very seriously that consciousness may be another fundamental property of the universe like space-time and matter-energy.  It has some peculiar properties - such as its perfect correlation with physical things (the brain) - but I just don't see the emergence explanation in its current form as anything but hand waving away a deep and difficult philosophical and scientific problem.
  </p>
  </i>
  
</div>

<script src="/javascripts/law.js"></script>
<script src="/javascripts/automata.js"></script>
<script type='text/javascript'>
  $(document).ready(function(){
    var initials = {
      homogenous: '00000000010010000000000001001111000000000000000001000000000000010100110000011100100000001001101000001001000000001000000000000010000000000000000000000000000000001001000000000000000000001100000100000000000000001101010011000011000011000000000000000000100011100000000100000000010000000000000000000000000000010000000001001100010010001000000000000000011001010110000100010001101000100000000100000000000100001100010000000010010000000001100100000100000101000000110011010000000001000001000010001100010100000000101000000011',
      //periodic: '00000010100000001000000000010100000000000110000101001000000100000110000000110100000011000000001110010000001100010101000000001010000000100000001000001001100010000000000100010000000000010000000000000000100001000011000000100000000000001000001000000000001000010001000100000001011010000010000001000000000100010101000000000000000000001000010010000000100010000010010000000010000000000000010000000000010010100000100010010001000000010101000000000010000001000000010010000000000000010001001001110101000001010000000101000101',
      periodic: '10010000000000000000000000000000000000000000000000000000010000000000000100000000000000000000000000000100000100000000000010000000000100000010010000000100000000000010000000000000000010000001100000010000000000000001011100001011000000000000000000000000001000000000000000000000010000000000000100010000000100000000001000000000000000000000010000010001000010000000000001000100100000001010000000000000000010100000000000000010000000000000100000100001010010000000000000000000000000000000000000100000010000000010000000000000',
      chaotic: '10000000000000000000000001010000100000000100000000100010000000000000000000010000000100000000000000000000000000000010000000100010000000100000000000000000000010000000010000000000000000000010000000000000010000100000010001001100100000000000100000000000000000000000100000000000000000000000000000000000000000001010000000000100000000000000000000001000000100001010000000000000010000000000000000010000000000001000000000000100000000000000100000000000000000000101000000000001001000000100100000000000000000000000000000000001',
      complex: '00000010000000001010000010100000100000000100000000010000001100010000000000000000000000000010000000000100000100000000100000000000001011001100010001001000010010000101000000000001010000000001000000000000010101000010001000100000000000000000010000000001000000000000011000000100111011000000101000010000100000010000010001011001000010010100001111110000000010000000010100000001000000010001101010000010000010010000000011100100010000100101001000000001010111000000010000000001001100010000001010101000000001000001000000100000'
    };
    var autos = [];
    Object.keys(initials).forEach(function(type){
      console.log(type);
      var a = new Automata();
      a.init(initials[type], type);
      autos.push(a);
    });
    console.log(autos);
  });
</script>
