<div style="text-align:center" class="headroom-m clearfix stack-el slim">
  <div style="border-radius:20px;float:left;width:100%;background-color:maroon">
    <div class="headroom-s"></div>
    <b style="color:white">In my bloodstream</b>
    <p style="color:white">
      In addition to red & white blood cells
    </p>
    <div style="font-size:100px">
      <i class="icon-adjust"></i>
    </div>
    <p style="color:white">
      There are nano-tech 'smart' cells  
    </p>
    <div style="font-size:100px">
      <i class="icon-cog"></i>
    </div>
    <p style="color:white;margin:0px auto;width:50%">
      They're constantly evaluating my blood, 
      measuring the density of things like caffeine, alcohol, glucose,
      and iron.
    </p>
    <div style="font-size:100px">
      <i class="icon-beaker"></i>
    </div>
    <p style="color:white;margin:0px auto;width:50%">
      And transmitting these measurements  
      to the outside world
    </p>
    <div style="font-size:100px">
      <i class="icon-rss"></i>
    </div>
  </div>
  <div style="border-radius:20px;background-color:#505050;width:100%;float:left">
    <div class="headroom-s"></div>
    <b style="color:white">Outside of my body</b>
    <br><br>
    <p style="color:white;margin:0px auto;width:50%">
      These measurements are stored in the cloud    
    </p>
    <div style="font-size:100px">
      <i class="icon-cloud"></i>
    </div>
    <p style="color:white;margin:0px auto;width:50%">
      ...and sent to my phone    
    </p>
    <div style="font-size:100px">
      <img src="/images/iphone.svg" />
    </div>
    <p style="color:white;margin:0px auto;width:50%">
      If a critical threshold is crossed, my doctor is
      notified
    </p>
    <div style="font-size:100px">
      <i class="icon-user-md"></i>
    </div>
    <p style="color:white;margin:0px auto;width:50%">
      I always know how I'm doing
    </p>
    <div style="font-size:100px">
      <i class="icon-bar-chart"></i>
    </div>
    <p style="color:white;margin:0px auto;width:50%">
      ...and when to stop drinking :-)
    </p>
    <div style="font-size:100px">
      <i class="icon-glass"></i>
    </div>
  </div>
</div>

