<div class="stack-el skinny">
<p>
  <i>"Before FB 6 components never came together in one platform"</i>
  <hr>
  Fogg really focuses on the FB platform as a tool for app developers here.
  In my opinion it's really a way for <i>app developers</i> to become mass 
  interpersonal persuaders - not individuals. The distinction I'm trying to
  make is this: just because Facebook has a platform, it doesn't mean that anyone
  with the desire can become a MIPer. They still need to jump a (relatively low 
  compared to history) high barrier to entry: Technical skills or money to pay
  those with technical skills.
  <br><br>
  I think it's also interesting to note that the efficacy of platforms decreases
  over time as the ecosystem becomes more crowded. There's more competition and
  more 'noise'. It's no longer the case that the 'good' solutions rise to the visible
  surface - you have to be good, and fucking lucky.
</p>
<p>
  <i>"If human nature were fundamentally bad, I would be worried about MIP. Certainly, 
  this new power could have a dark side"</i>
  <hr>
  Initially my thought was that MIPers will always be motivated by accumulting
  money. Ultimately I still think the goal of most aspiring MIPers is to create
  a company that makes lots of money...so should we be worried about MIP (contrary
  to Fogg)? Even if finance is the dominant incentive, I think the 'consumer' is
  a better exhibit of good human nature than aspiring MIPers. Because the consumer
  defines who wins as a MIPer, I agree with Fogg that we shouldn't be worried about
  MIP, but I agree for different reasons.
</p>
</div>
