<div class="stack-el skinny">
  <p>
    <span style="font-size:30px">Para-functional objects</span>
    <hr>
  </p>
  <p>
    <span style="font-size:28px">Pebble</span>
  </p>
  <div class="clearfix">
    <div style="float:right">
      <img style="border-radius:15px" src="/images/pebble-watch.jpg" />
    </div>
    <div style="width:45%;float:left">
      Pebble is a customizable watch. It's customizable in the sense that
      it runs apps which are chosen by the user. Right now the dominant 
      use-case is fitness. Pebble exhibits para-functionality as it is a fully
      programmable computer masquerading as a watch. It takes the form of a familiar
      object but does the unfamiliar. This tension subverts your expectations.
    </div>
  </div>
  <p>
    <span style="font-size:28px">Glass</span>
  </p>
  <div class="clearfix">
    <div style="width:60%;float:right">
      Glass basically brings the functionality of your cell-phone to a transparent
      overlay on top of your vision. Further, it provides metadata
      related to whatever it is that you're looking at. One of the obvious use-cases
      is real-time visual feedback of your health vitals - or performance metrics
      as you work out. It's para-functional because it's a comment on the traditional role of 
      'glasses', which help you see. Glass helps you see in a new kind of way - with
      an increased amount of information, rather than just visual clarity.
    </div>
    <div style="float:left">
      <img style="border-radius:15px" src="https://lh4.googleusercontent.com/-KuBt2meCL9Y/T3xUZ7fd3CI/AAAAAAAAABs/bp17ueCuYxY/s388/glass_photos5.jpg" />
    </div>
    
  </div>

  <p>
    <span style="font-size:28px">Zeo</span>
  </p>
  <div class="clearfix">
    <div style="float:right">
      <img style="border-radius:15px" src="http://i.usatoday.net/tech/_photos/2012/03/10/Spring-forward-with-these-gadgets-1C148S51-x-large.jpg" />
    </div>
    <div style="width:45%;float:left">
      Zeo is a sleep manager that monitors your brain waves and wakes you
      up at the what it decides to be an optimal time to do so. It para-functionality
      derives from how it takes the form of a traditional headband, but does so
      much more that a traditional headband.
    </div>
  </div>

</div>
