<div class="stack-el skinny">
  <p>Hi Christopher,</p>
  <p>
  I'm a grad student at NYU and I watched some snippets of you talking about prediction earlier today...I have a few questions.
  </p>

  <p>
  1. You mention that rate of change can be an important parameter for prediction. Where does rate of change fit into the recorded future product?
  </p>

  <i>We use a fair amount of rate of change, probably all I should say :)</i>

  <p>
  2. I'm in a special program at NYU where I can take any classes to build an 'individualized' degree. I'm fascinated by prediction in general, and am technical. What sorts of classes would you take in my shoes? 
  </p>

  <i>I would be all over learning basics of computer science - algorithms, data structures, etc - as well as 
  statistics and data mining/science if there are good classes like that.</i>

  <p>
  I've recently started predicting things on twitter using rate of change. Currently I'm tracking the 37k 'verified' accounts (politicians, celebrities and big brands) - <a href="http://followgen.com/forecast/barackobama">here is an example dashboard</a>.
  </p>

  <p>
  3. Do you think this type of thing could be valuable to anyone?
  </p>

  <p>
  4. Do you think there's any realistic and attainable predictive power (for natural systems) in Wolfram-esque automata?
  </p>

  <i>I have a gmail account, at which I'm 'mkrecny'</i>
</div>
