<div class="headroom-l stack-el skinny">
  <p>
    <b>Automation as a Service (AaaS)</b>
    <hr>
  </p>
  <p>
    We live in a world where people spend big chunks 
    of their life doing things that could be automated.
    It's a fairly acute misallocation of resources, because 
    human brains are the most spectacular processors on the planet.
  </p>
  <p>
    Yes, Artifical Intelligence is an exciting field. But we're
    not going to create an artificial intelligence to rival the human
    brain any time soon.
  </p>
  <p>
    So many human brains are simply wasted, grinding away at tasks an 
    lesser processor could accomplish in a fraction of the time, for 
    a fraction of the cost. So many human brains spend day after 
    day slowly atrophying, saddled by boredom. It's a hangover from
    days before the current state of Information Technology.
  </p>
  <p>
    If you build software that puts a someone out 
    on the street, you're not evil. You're creating a financial incentive
    for that someone to use their beautiful and powerful brain to a fuller capacity.
    You're giving that someone a better chance of enriching their lives, and those
    of others. If you don't do it, someone without qualms will do it anyway.
  </p>
  <p>
    Build Automation as a Service, for good and for profit.  
  </p>
  
</div>
