<div style="font-size:28px" class="stack-el slim">
  <p>
    <b>Be nice to programmers</b><br>
    <span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Be nice to programmers" data-via="recborg">Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://edu.mkrecny.com/thoughts/be-nice-to-programmers" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
    <hr>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Dude you're so lucky to be a programmer. I wish I was a programmer.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Why don't you learn to code?
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>I've tried. I did codecademy and stuff but I'm just not cut-out 
    for coding.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Yeah, well, it's definitely not for everyone.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>They, like, pay you so well and you can build stuff. People 
    are knocking on your door every day with mad offers for like $100k plus.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    It's pretty flattering. Kinda blows my mind to be honest.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>You get sweet equity and everyone respects the engineers.
    You can just build any idea you have into an app, and then you 
    can get rich without having to hire other people.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Actually being a programmer is making me miserable.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Woah, dude. What do you mean?</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    In order to be a good programmer I need to adopt a certain mindset.
    That mindset is slowly making me unhappy. I notice it in other 
    programmers - not all of them - but many.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>What mindset?</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Focusing on the negatives, rather than the positives.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Why do you need to do that to be a good coder?</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    My workflow is something like this.
    <ol>
      <li>write some code</li>
      <li>run the code</li>
      <li>get an error message</li>
      <li>find the error and back to step 1</li>
    </ol>
    Hour by hour, day after day, I do this. Always searching 
    for what's wrong with what I'm creating, rarely thinking about
    what's good about it. It's a negative reinforcement feedback loop.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Crazy</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    When I'm not in vim I'm in the bug-tracker, a list of negatives. A list
    of what's broken and needs to be fixed. A list of ways in which I fucked up.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Dude, I think you're being a little dramatic. Plus isn't fixing
    bugs and striking them off that list incredibly satisfying?</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Sure it is. There's so much about programming that is incredibly satisfying
    and empowering. But it doesn't change the fact that, for me, programming
    builds an acutely negative mindset over time. I'm always asking the question
    "what's wrong with this?" Positive people are always focusing on "what's
    good about this?"
  </p>
  <p>
    <a href="http://news.ycombinator.com/item?id=4631607">View Comments</a>
  </p>
  <p>
    <span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Be nice to programmers" data-via="recborg">Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://edu.mkrecny.com/thoughts/be-nice-to-programmers" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
  </p>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.myles-footer').removeClass('skinny').addClass('slim');
  });
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
