<div class="stack-el skinny headroom-s">
    
    <p>A fragment of audio from the session:</p>

    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F59496897&show_artwork=true"></iframe>

    <p>And a video, which makes me feel anxious and claustrophobic.</p>

    <iframe src="http://player.vimeo.com/video/11599971" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p style="display:none">><a href="http://vimeo.com/11599971">Test Cycle 21</a> from <a href="http://vimeo.com/comkee">Steffen Fiedler</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

    <p>It's (the video) an exercise in specultive design - design that  doesn't get caught up in the implementation details.</p>

    <p>'Health is a state of complete physical, mental and social well-being' - World Health Org</p>

    <p>Traditional healthcare focuses on fixing sickness, not preventing it. If we focus on self-care as a means of prevention, 'fixing' becomes
    less necessary. 80% of chronic diseases are preventable</p>

    <p>It's an interesting time for the Healthcare field. A proliferation of accelerators, startups .. opportunity</p>

    <blockquote class="twitter-tweet tw-align-center" data-in-reply-to="245271719688949762"><p>@<a href="https://twitter.com/recborg">recborg</a> agreed, though I think too many HC startups are all aesthetics &amp; UX and not enough deep substance. HC = really tough nut to crack</p>&mdash; Chris Kurdziel (@ckurdziel) <a href="https://twitter.com/ckurdziel/status/245273262299418624" data-datetime="2012-09-10T21:31:17+00:00">September 10, 2012</a></blockquote>

    <p>
      Let's think about systems
      <ul>
        <li>What is a system?</li>
        <li>How do you model a system?</li>
        <li>Is this methodology a better path towards solutions that are effective and measurable??</li>
      </ul>
    </p>
    
    <p>
      Three good practices, a goal, and a healthy technology
    </p>
    <p>
      <img style="width:500px" src="/images/diy_stickies.jpg" />
    </p>

    <p>
      Goals
      <ul>
        <li>Understand how actions and behavior lead to achieving goals</li>
        <li>Learn how to design 'behavior change'</li>
        <li>Learn how to model a system</li>
      </ul>
    </p>
    <p>
      Some of <a href="http://twitter.com/sgdean">@sgdean</a>'s personal thoughts on #diyhealth
      <ul>
        <li>Conceive of each individual as a designer of their own life</li>
        <li>Think of yourself as a meta-designer</li>
        <li>The meta-desginer will design a system that enables others to design their own lives</li>
      </ul>
    </p>

    <p><a href="http://twitter.com/sgdean">@sgdean</a>'s deck</p>
    <iframe src="http://www.slideshare.net/slideshow/embed_code/14251861" width="514" height="422" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin:0px auto;" allowfullscreen> </iframe>
    <p>
    <u><b>Assignments</b></u>
    </p>
    <p>
      <a href="/class/diyhealth/week/1/assignment/emerging-mind">The Emerging Mind (a reaction)</a>
    </p>
</div>
<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
