<div style="text-align:left;width:530px" class="stack-el">

  <p style="text-align:left;font-size:22px;">
    <img style="width:40px;border:2px solid #FFF000;margin-right:10px" src="/images/prof_blog_dark.jpg">Myles is here.
    <hr>
  </p>

  <div class="blog-links">
<a href="http://myles.io/thoughts/breaking-up-with-code">Breaking Up With Code</a><br>



<a href="http://myles.io/thoughts/twitter-shut-me-down">Twitter Shut Me Down</a><br>
<a class="" href="http://edu.mkrecny.com/thoughts/how-i-fired-myself">How I Fired Myself</a><br>
<a class="" href="http://edu.mkrecny.com/thoughts/be-nice-to-programmers">Be Nice to Programmers</a><br>
<a class="" href="http://edu.mkrecny.com/thoughts/twitter-should-shut-me-down">Twitter Should Shut Me Down</a><br>
<a class="" href="http://edu.mkrecny.com/thoughts/programmer-come-work-for-us">Programmer Come Work For Us</a><br>
<a class="" href="http://edu.mkrecny.com/thoughts/not-having-a-real-job">Not Having a Real Job</a><br>
<a class="" href="http://edu.mkrecny.com/thoughts/passive-income-hacker-vs-startup-guy">Passive Income Hacker vs Startup Guy</a><br>
<a class="" href="http://edu.mkrecny.com/thoughts/a-passive-income-hackers-view-on-wealth">A Passive Income Hacker&apos;s View on Wealth</a><br>
<a class="" href="http://edu.mkrecny.com/thoughts/ill-never-be-an-astronaut">I&apos;ll Never Be An Astronaut</a><br>
<a href="http://edu.mkrecny.com/thoughts/theres-no-io-in-team">There&apos;s no &apos;i/o&apos; in &apos;team&apos;.</a><br>
  </div>

</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.more-posts').hide();
    $('#show-more-posts').click(function(){
      $(this).hide();
      $('#more-posts').fadeIn();
    });
  });
</script>
