<div class="stack-el skinny">
    <b>Week 1:</b>
    <a href="/class/diyhealth/week/1">My Notes</a>
    | <a href="/class/diyhealth/week/1/assignment/emerging-mind">The Emerging Mind (a reflection)</a>
</div>
