<div class="stack-el skinny">
  <hr>
  <legend>Classes</legend>
  <a href="/class/diyhealth">DIY Health</a><br>
  <a href="/class/biohacking">Intro to Biohacking</a>
  <hr>
  <legend>Thoughts</legend>
  <a href="/thoughts/dont-develop-apps-develop-superpowers">Don't develop apps. Develop superpowers.</a><br>
  <a href="/thoughts/mutations-and-metaphors">Mutations and Metaphors</a><br>
  <a href="/thoughts/be-nice-to-programmers">Be Nice to Programmers</a><br>
  <a href="/thoughts/automation-as-a-service">Automation as a Service</a><br>
  <a href="/thoughts/attn-christopher-ahlberg">Attn Christopher Ahlberg</a><br>
</div>
