<div class="stack-el skinny">
    <b>Week 1:</b>
    <a href="/class/diyhealth/week/1">My Notes</a>
    | <a href="/class/diyhealth/week/1/assignment/emerging-mind">The Emerging Mind</a>
    | <a href="/class/diyhealth/week/1/assignment/reframing-for-design">Reframing Health to Embrace Design</a>
    | <a href="/class/diyhealth/week/1/assignment/personal-analytics">Personal Analytics</a>
    | <a href="/class/diyhealth/week/1/assignment/perfected-self">The Perfected Self</a>
    | <a href="/class/diyhealth/week/1/assignment/self-tracking-sound-memory">Self-tracking w/ Sound & Memory</a>
    | <a href="/class/diyhealth/week/1/assignment/the-brain-that-compensates">The Brain That Compensates</a>
</div>
<div class="stack-el skinny">
    <b>Week 2:</b>
    <a href="/class/diyhealth/week/2/assignment/skin-as-a-system">Skin as a System</a>
    | <a href="/class/diyhealth/week/2/assignment/rate-limiter-as-a-system">Rate limiter as a System</a>
    | <a href="/class/diyhealth/week/2/assignment/patient-of-the-future">The Patient of the Future</a>
    | <a href="/class/diyhealth/week/2/assignment/modern-medicine">Modern Medicine</a>
</div>

<div class="stack-el skinny">
    <b>Week 3:</b>
    <a href="/class/diyhealth/week/3/assignment/follow-me">Follow Me</a>
    | <a href="/class/diyhealth/week/3/assignment/nano-blood-cells">Nano Blood Cells</a>
    | <a href="/class/diyhealth/week/3/assignment/romantic-health">Romantic Health</a>
    | <a href="/class/diyhealth/week/3/assignment/surveillance-and-qs">Surveillance and QS</a>
</div>

<div class="stack-el skinny">
    <b>Week 4:</b>
    <a href="/class/diyhealth/week/4/assignment/mass-interpersonal-persuasion">Mass Interpersonal Persuasion</a>
</div>
