<div style="text-align:left;width:550px" class="stack-el">

  <p style="text-align:left">
    <img style="width:60px;border:2px solid #FFF000" src="/images/prof_blog_dark.jpg" /> Myles Writes Words
    <hr>
  </p>

  <a class="" href="http://edu.mkrecny.com/thoughts/be-nice-to-programmers">Be Nice to Programmers</a><br>
  <a class="" href="http://edu.mkrecny.com/thoughts/programmer-come-work-for-us">Programmer Come Work For Us</a><br>
  <a class="" href="http://edu.mkrecny.com/thoughts/twitter-should-shut-me-down">Twitter Should Shut Me Down</a><br>
  <a class="" href="http://edu.mkrecny.com/thoughts/passive-income-hacker-vs-startup-guy">Passive Income Hacker vs Startup Guy</a><br>
  <a class="" href="http://edu.mkrecny.com/thoughts/how-i-fired-myself">How I Fired Myself</a><br>
  <a class="" href="http://edu.mkrecny.com/thoughts/a-passive-income-hackers-view-on-wealth">A Passive Income Hacker's View on Wealth</a><br>
  <span style="cursor:pointer;" id="show-more-posts" class=""><i>more</i></span>
  <div style="display:none" id="more-posts">
    <a class="" href="http://edu.mkrecny.com/thoughts/theres-no-io-in-team">There's no "I/O" in Team</a><br>
    <a class="" href="http://edu.mkrecny.com/thoughts/dont-develop-apps-develop-superpowers">Don't develop apps, develop superpowers</a><br>
    <a class="" href="http://edu.mkrecny.com/thoughts/automation-as-a-service">Automation as a Service</a><br>
    <a class="" href="http://edu.mkrecny.com/thoughts/ill-never-be-an-astronaut">I'll Never Be An Astronaut</a><br>
    <a class="" href="http://edu.mkrecny.com/thoughts/ive-been-seeing-someone-else">I've Been Seeing Someone Else</a><br>
    <a class="" href="http://edu.mkrecny.com/thoughts/2-stories-of-passive-income-excess">Two Stories of Passive Income Excess</a><br>
    <a class="" href="http://edu.mkrecny.com/thoughts/i-dont-want-to-be-data-driven">I don't want to be data-driven</a><br>
    <a class="" href="http://edu.mkrecny.com/thoughts/not-having-a-real-job">Not Having A Real Job</a><br>
  <a class="" href="http://myles.io/thoughts/starting-a-war-on-hacker-news">Starting a War on Hacker News</a>
  </div>

</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.more-posts').hide();
    $('#show-more-posts').click(function(){
      $(this).hide();
      $('#more-posts').fadeIn();
    });
  });
</script>
