<div class="stack-el skinny">
  <p>
    1st audio fragment (microbes, biopunk manifesto)
  </p>
  <audio controls="controls">
    <source src="https://dl.dropbox.com/u/15758821/biohacking_week2_1.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
  <p>Microbes (discussion of <a href="http://www.economist.com/node/21560559">this article</a>)</p>
  <hr>
  <ul>
  <li>human body contains 10trillion human cells</li>
  <li>100trillion bacterial cells (10x human)</li>
  <li>but by volume - a given human cell is 10x bigger - so take up more space</li>
  <li>humans and microbes have co-evolved</li>
  <li>many diseases are linked to the malfunction of these 'biomes'</li>
  <li>play a variety of important roles - digestion, gene regulation</li>
  <li>a symbiotic relationship</li>
  </ul>

  <p>
  <i>prokaryotic:</i> simple, bacterial<br>
  <i>eukaryotic:</i> complex, human<br>
  so are we prokaryotic or eukaryotic?
  </p>
  
  <ul>
  <li>we're on the verge of understanding this biomic balance</li>
  <li>surprising innovations : fecal transplantation - (poo transplant) - 
  to take a working gut biome to someone who's sick</li>
  </ul>

  <ul>
  <li>anti-biotics can't do anything to viruses e.g. common cold</li>
  <li>can't wipe out every bacterial infectious agent in your body as they evolve - epigenetic</li>
  <li>smaller colonies take hold and get stronger</li>
  </ul>

  <p>
  <a href="http://maradydd.livejournal.com/496085.html">Biopunk Manifesto</a> : (Meredith Patterson);
  </p>
  <hr>
  <ul>
  <li>inspired by the cypher punk movement (90s)</li>
  <li>cryptography is high barrier to entry - high intelligence - not so much w/ biopunk</li>
  <li>the cyph - bio punk comparison is not fair</li>
  <li>we're at the same stage as early computer programming - punch card programming</li>
  <li>so now we're at a vanguard to a much more accessible stage</li>
  <li>in bio there's this huge issue of credentials (not the case in tech)</li>
  <li>"he doesn't have a PhD" so can't do anything legit in bio</li>
  <li>will eihical considerations / laws 'topple' this?</li>
  <li>people are freaked by open-source bio, much more so than open-source IT</li>
  <li>creating anthrax is not that difficult - but deploying it in 
  effective way is challenging (so dont' freak out)</li>
  <li>aerosolation in the anthrax case - the hardest part</li>
  <li>potential for disaster is high</li>
  </ul>

  <p>
    There was a Genome Dating profile exercise.
  </p>
  <p>
    People made stuff <a href="http://benturner.com/other/okcupid_fruitfly.html">like this</a>
  </p>

  <p>
  <i>diploid</i> - 2 copies of genetic info in cells<br>
  <i>haploid</i> - 1 copy (in our sex cells as we combined with another 1/2 each)<br>
  <i>octoid</i> - 8 copies
  </p>

  <ul>
  <li>plasmid - optional genetic element</li>
  <li>radiation resistant bacterium - could we learn how to resist radiotherapy - cancer</li>
  <li>Craig Venter - Synthia</li>
  <li>Minimum Viable Genome Project - remove genes 'til it can't propagate</li>
  <li>open reading frames - varying 'interpretations of the DNA'</li>
  <li>piece of code executed in severa different ways - different outcomes - depending on interp of the syntax</li>
  </ul>

  <p>What's a Genome?</p>
  <hr>
  <p>
  how big are they?<br>
  circular or linear chromosomes?<br><br>
  <i>Humans:</i><br>
  3bn base pairs - 10 trillion cells (see slides)<br>
  98% of our DNA is 'junk' DNA<br>
  <i>@urbanorganism : does the circularity of a chromosome affect open reading window?<br></i>
  </p>

  <p>Genetics</p>
  <hr>
  <ul>
  <li>The science of genes, heredity and variation in living organisms.</li>
  <li>Biology interpreted via Biochem vs Genetics</li>
  <li>Now we have molecular biology - a common language</li>
  <li>Recombinant DNA - take a piece of DNA from one org - shuttle to other - knock out one piece - see what happens</li>
  <li>"Genes Code Proteins"</li>
  </ul>

  <p>
  Gregor Mendel 1822 - 1884
  </p>
  <hr>
  <p>
  <audio controls="controls" class="clearfix">
    <source src="https://dl.dropbox.com/u/15758821/biohacking_week2_3.mp3" type="audio/mpeg" />
    Your browser does not support the audio element.
  </audio>
  <br>
  <span class="small-text">(audio fragment pertaining to Mendel)</span>
  </p>
  <ul>
  <li>published seminal work around 40th birthday</li>
  <li>(origin of species was published 7 yrs before)</li>
  <li>Mendel and Darwin were contemporaries - though Darwin never read Mendel's work!</li>
  <li>Mendel's scientific rigour sets him apart</li>
  </ul>

  <p>
  Mendel's work w/ Peas
  </p>
  <hr>
  <ul>
  <li>probably selected peas - as they have easily quantifiable 'traits'</p>
  <p>1856 - 1863 : cultivated and tested more than 30k pea plants</p>
  <p>*went through mendelian genetics - punnet squares etc.*</p>
  </ul>

  <p>Key Terms</p>
  <hr>
  <ol>
  <li>Gene - the factor of inheritance R vs r</li>
  <li>Allele - flavors of the same gene eg RR rr Rr</li>
  <li>Phenotype - physical manifestation</li> 
  <li>Genotype - informational underlying representation</li>
  <li>Homozygote - RR rr (same alleles)</li>
  <li>Heterozygote - Rr (different)</li>
  <li>Dominant trait - whatever the heterozygote expresses</li>
  <li>recessive trait - what's left</li>
  </ol>

  Cell division:
  > Meiosis
  > Mitosis

  <p>Homework</p>
  <hr>
  DNA Extraction @ Home<br>
  extract DNA from Strawberry<br>
  meat tenderizer and shampoo and alcohol
</div>
