<div class="stack-el skinny">
    <b>Week 1:</b>
    <a href="/class/biohacking/week/1">My Notes</a>
    | <a href="/class/biohacking/week/1/assignment/how-to-extract-strawberry-dna">DNA Extraction (How To)</a>
    | <a href="/class/biohacking/week/1/assignment/strawberry-dna-extraction">Strawberry DNA Extraction</a>
</div>

<div class="stack-el skinny">
    <b>Week 2:</b>
    <a href="/class/biohacking/week/2/assignment/unzipping-dna">Unzipping DNA</a>
</div>

<div class="stack-el skinny">
    <b>Week 3:</b>
    <a href="/class/biohacking/week/3/assignment/codon">CODON</a>
</div>

<div class="stack-el skinny">
    <b>Week 4:</b>
    <a href="/class/biohacking/week/4/assignment/kent-ave">Kent Ave</a>
</div>
