<div class="stack-el skinny">
    <b>Week 1:</b>
    <a href="/class/diyhealth/week/1">My Notes</a>
    | <a href="/class/diyhealth/week/1/assignment/emerging-mind">The Emerging Mind</a>
    | <a href="/class/diyhealth/week/1/assignment/reframing-for-design">Reframing Health to Embrace Design</a>
    | <a href="/class/diyhealth/week/1/assignment/personal-analytics">Personal Analytics</a>
    | <a href="/class/diyhealth/week/1/assignment/perfected-self">The Perfected Self</a>
    | <a href="/class/diyhealth/week/1/assignment/self-tracking-sound-memory">Self-tracking w/ Sound & Memory</a>
    | <a href="/class/diyhealth/week/1/assignment/the-brain-that-compensates">The Brain That Compensates</a>
</div>
