<div style="text-align:left;width:550px" class="stack-el">

  <!--<hr>
  <legend>Classes</legend>
  <a href="/class/diyhealth">DIY Health</a><br>
  <a href="/class/biohacking">Intro to Biohacking</a>
  <hr>
  <legend>Thoughts</legend>-->
  <p style="text-align:left">
    Words
    <hr>
  </p>
  <a class="blog-link" href="/thoughts/twitter-should-shut-me-down">Twitter Should Shut Me Down</a><br>
  <a class="blog-link" href="/thoughts/how-i-fired-myself">How I Fired Myself</a><br>
  <!--<a class="blog-link" href="/thoughts/i-dont-want-to-be-data-driven">I don't want to be data-driven</a><br>-->
  <!--<a class="blog-link" href="/thoughts/dont-develop-apps-develop-superpowers">Don't develop apps, develop superpowers</a><br>-->
  <a class="blog-link" href="/thoughts/be-nice-to-programmers">Be Nice to Programmers</a><br>
  <!--<a class="blog-link" href="/thoughts/automation-as-a-service">Automation as a Service</a>-->

</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.more-posts').hide();
  });
</script>
