<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535"><b>Don't develop apps, develop superpowers.</b></span>
    &nbsp;&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-text="Don't develop apps, develop superpowers." data-via="recborg">Tweet</a>
    <hr>
  </p>

  <p>
    It's often said that in this day-and-age, being able to program is a superpower. 
    I'm going to argue that programming <i>itself</i> is not a superpower, but programmers 
    can <i>develop</i> superpowers. I'm also going to argue that programmers should spend more 
    time doing this, and less time developing apps, than they currently do.
  </p>

  <p>
    So what does 'superpower' mean in this context? A superpower is a piece of software that 
    doesn't have a user interface, and only has one user; you. It does one thing and that thing 
    is something that gives you a big advantage in life. It's the most niche piece of software 
    that you've ever built, because the target market has only one member in it, and you know the 
    pain points and desires of that member phenomenally well.
  </p>

  <p>
    Compared to an app it's extremely fast and cheap to develop because you don't have to 
    build a UI or think about marketing. There's no risk of not getting traction and failing, 
    because you're the only user, and you knew that you wanted it before you built it.
  </p>

  <p>
    What're some examples? A superpower might be a piece of software that crawls various 
    sites, crunches numbers and delivers you a daily email report that enables you to make 
    better, smarter decisions that day. A superpower might be a piece of software that 
    automates marketing of your personal brand on social networks, opening up new employment 
    opportunities. A superpower might be a bot that buys items on Amazon and sells 
    them on eBay. 
  </p>

  <p>
    If your superpower turns out to be really tremendous for you, then it might be 
    time to think about putting in the extra risk to turn it into a service for others. 
    Chances are, if it's awesome for you, others will love it too.
  </p>
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Don't develop apps, develop superpowers" data-via="recborg">Tweet</a>
</div>
