<div style="width:550px;" class="stack-el">
  <p>
    Myles @ <b>First Mark</b>
    <hr>
  </p>
  <p>
    <i>8 bits of <b>History</b></i><br>
    1. Graduated Duke U, Philosophy and Mandarin Chinese.<br>
    2. Built <a href="http://superherocity.klicknation.com/">Superhero City</a> at Klicknation which was acquired by EA.<br>
    3. Joined TechStars as a 'hackstar'<br>
    4. Coded at <a href="http://shelby.tv">Shelby.tv</a> for 2 years, then left.<br>
    5. Built and ran <a href="http://followgen.com">Followgen</a> profitably for one year ($30k monthly profit).<br>
    6. Ran <a href="http://microha.us">Microhaus</a>, an 'incubator for individuals'.<br>
    7. Followgen was <a href="/thoughts/twitter-shut-me-down">shut down by Twitter.</a><br>
    8. Right now I'm building <a href="http://ppln.co">Pipeline</a> and <a href="http://asimov.co">Asimov</a>.
  </p>
  <p>
    <i>Find me <b>online</b></i><br>
    <a href="http://twitter.com/recborg">@recborg</a> on Twitter<br>
    <a href="https://news.ycombinator.com/user?id=mkrecny">mkrecny</a> on Hacker News<br>
    <a href="http://github.com/mkrecny">mkrecny</a> on Github<br>
    <a href="http://myles.io">myles.io</a> is my blog.
  </p>
  <p>
  <i>Specific <b>requirements</b></i>
  </p>
  <p>
  <i>"Have a background in computer science (or have taught yourself to code to a reasonably serious level)"</i><br><br>
  I've been programming seriously since '08. I wrote a <a href="https://dl.dropboxusercontent.com/u/15758821/simple_systems.pdf">thesis</a> in CS & Philosophy
  </p>
  <p>
  <i>"Blog or write extensively about technology"</i><br><br>
  My <a href="http://myles.io">blog</a> contains stories of my adventures in the tech world. Posts about tech itself include:<br>
  <a href="http://edu.mkrecny.com/be-nice-to-programmers">Be nice to programmers</a><br>
  <a href="http://edu.mkrecny.com/thoughts/dont-develop-apps-develop-superpowers">Don't develop apps, develop superpowers</a><br>
  <a href="http://edu.mkrecny.com/thoughts/a-passive-income-hackers-view-on-wealth">A Passive Income Hacker's View on Wealth</a><br>
  </p>
  <p>
<i>"Have been active in the New York tech ecosystem."</i><br><br>
I've been here since I participated in TechStars in 2011. I've done over 10 hackathons and ran an <a href="http://microha.us">incubator for individuals</a> in Brooklyn in 2013.
</p>
<p>
<i>"Have some industry expertise in a relevant area"</i><br><br>
For me it's social advertising. I got a deep understanding of the space building and running <a href="http://folowgen.com">Followgen</a>.
</p>
<p>
<i>"Have been a practitioner within demand generation and have a deep understanding of online marketing, user engagement, and funnel analytics"</i><br><br>
Could talk about this all day, esp w/ regard to Followgen. For me the best 'growth hacks' are the ones that step close to the Black Hat border. One highlight:<br>
<a href="http://blendah.com/post/63167877608/5-undercover-growth-hacks-you-should-have-thought-of">5 undercover growth hacks you should have thought of</a> (I'm # 3)<br>
<br><br>
I've built funnel analytics internally for Klicknation and Shelby (that was a waste of time). And for Followgen made extensive use of GA, GoSquared and Optimizely among others. ConstantContact for email mktng.
</p>
  
</div>
