<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535;font-size:20px"><b>Gamers Will Game You.</b></span>
    &nbsp;&nbsp;
    <a style="margin-right:0px" href="https://twitter.com/share" class="twitter-share-button" data-text="Gamers Will Game You" data-via="recborg">Tweet</a>
    <hr>
   </p>


  <p>
	In December of 2012 a famous professional gamer started using my service. To my delight, he raved about it to his 200k twitter followers.
   </p>

  <p>
	All of a sudden I had a few hundred gamers sign up for my service. Awesome, right? 
   </p>

  <p>
	No, not awesome.
   </p>

  <p>
	They made it their business to 'game' my system, exploiting every lenient policy that I had in place at the time. Those lenient policies existed to build trust with my usually civil B2B target market.
   </p>

  <p>
	Basically their attitude towards paying for my software was "fuck that".
   </p>

  <p>
	I wasted a lot of time trying to manage this unruly sub-community for about two months. Ultimately I wrote code to detect incoming gamers, and block them from using the service.
   </p>

  <p>
	Here's an SMS exchange between two gamers, about my service that I was forwarded. I didn't have coupon codes at the time.
  </p>
  <p>
    <img src="/images/gamer.jpg" />
  </p>
<!--<p>
  <a href="https://news.ycombinator.com/item?id=6160419">Hacker News Comments</a>
</p>-->
<p>
    <span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Gamers Will Game You" data-via="recborg" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thougths/gamers-will-game-you" data-width="450"  data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
</p>

</div>
