<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535;font-size:20px"><b>Gamers Will Game You</b></span>
    &nbsp;&nbsp;
    <a style="margin-right:0px" href="https://twitter.com/share" class="twitter-share-button" data-text="Gamers Will Game You" data-via="recborg">Tweet</a>
    <hr>
   </p>


  <p>
	  In December 2012 a famous professional FPS gamer started using my service.
  </p>
   <p>
    It was early days and (to my delight) he raved about his experience to his 200k Twitter followers.
   </p>

  <p>
	  Overnight I had a few hundred gamers sign up for my service. Awesome, right? 
   </p>

  <p>
	No, not awesome.
   </p>

  <p>
	They made it their job to 'game' my system, exploiting every lenient policy that I had in place at the time.</p>

 <p> 
  Those lenient policies existed to build trust with my usually civil B2B target market.
   </p>

  <p>
	Basically their attitude towards paying for my software was "fuck that". But obviously gamers are willing to spend on some software (like Steam).
   </p>

  <p>
	I wasted a lot of time and energy trying to manage this unruly community. At such a delicate phase in my service's lifecycle, it nearly put me out of business. I couldn't focus on the important things, like offering great customer service to my 'real' customers.
 </p> 
  <p>Ultimately I wrote code to detect incoming gamers, and block them from using the service.
   </p>

  <p>
	Here's a screenshot of two gamers talking about my service. I didn't even offer coupon codes at the time.
  </p>
  <p>
    <img style="width:400px" src="/images/gamer.jpg" />
  </p>
<!--<p>
  <a href="https://news.ycombinator.com/item?id=6160419">Hacker News Comments</a>
</p>-->
<p>
    <span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Gamers Will Game You" data-via="recborg" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thougths/gamers-will-game-you" data-width="450"  data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
</p>

</div>
