<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535"><b>The Hacker Journalist.</b></span>
    &nbsp;&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-text="The Hacker Journalist" data-via="recborg">Tweet</a>
    <hr>
  </p>
<p>
  <i>The Hacker Journalist uses programming as a tool to do things that a traditional journalist can't.</i>
</p>
<p>
  <hr>
</p>
<p>
  1. Hosting content independently of any organization, platform or framework.
</p>
<p>
  2. Growth-hacking the distribution of content.
</p>
<p>
  3. Programmatically aggregating and analyzing data to inform writing.
</p>
<p>
  4. Creating unique content experiences beyond the scope of traditional web or paper publishing.
</p>
<p>
  5. Open-sourcing any new data-sets in the writing process.
</p>
<p>
  6. Championing the free and open web.
</p>
<p>
  <a href="http://news.ycombinator.com/item?id=5292591">Comments</a>
</p>
  <p>
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="The Hacker Journalist" data-via="recborg">Tweet</a>
  </p>
  
</div>
