<link rel="stylesheet" href="/reveal/css/main.css">
<link rel="stylesheet" href="/stylesheets/pres.css">
<div id="rvl-cont" class="reveal">
  <div class="slides"> 
    <section>
      <p style="margin-top:110px">
        Myles Recny
      </p>
        <embed src="/images/health.svg" type="image/svg+xml" />
      <p>
        and Healthcare IT
      </p>
    </section>
    <section>
      <p style="margin-top:110px">
        25 in NYC
      </p>
      <embed src="/images/england.svg" type="image/svg+xml" />
      <embed src="/images/australia.svg" type="image/svg+xml" />
      <embed src="/images/usa.svg" type="image/svg+xml" />
      <p>
        optic neuropathy
      </p>
    </section>
    <section>
      <p style="margin-top:100px">
        <img class="bwimg" style="margin-top:0px;width:100px"  src="http://upload.wikimedia.org/wikipedia/en/thumb/b/b6/Duke_University_Crest.svg/130px-Duke_University_Crest.svg.png" />
      </p>
      <p>
        philosophy . mandarin . comp sci
      </p>
    </section>
    <section>
    
      <p style="margin-top:80px">
        <img class="bwimg" style="margin-top:70px;width:250px"  src="http://www.klicknation.com/storage/KNlogo.png" />
        <img class="bwimg" style="width:280px" src="http://www.lek.com/sites/all/themes/lek/images/lek_text.gif" />
      </p>
      <p>
        <img class="bwimg" style="width:180px" src="http://s1.torbit.com/img/65bc2cc0cfa0b5a5c8c88688eb82304eae722ab8-logo.png" />
        <img class="bwimg" style="width:350px" src="http://static.tumblr.com/xdbfp6r/riAliyf79/shelbytv.tumblr.png" />
      </p>
      <p>
      </p>
    </section>
    <section>
      <p style="margin-top:30px">
        <img class="bwimg" src="/images/nyu.jpg" />
      </p>
    </section>
    <section>
      <p style="margin-top:120px">
        <img src="/images/fgen.png" />
      </p>
    </section>
    <section>
      <p style="margin-top:50px">
        <img src="/images/forecast.png" />
      </p>
    </section>
    <section>
      <p style="margin-top:200px"> 
        <embed src="/images/health.svg" type="image/svg+xml" />
      </p>
    </section>
    <section>
      <p style="margin-top:130px">
        1
      </p>
      <p>
        rules change, alot
      </p>
    </section>
    <section>
      <p style="margin-top:130px">
        2
      </p>
      <p>
        hard to grok  
      </p>
    </section>
    <section>
      <p style="margin-top:130px">
        3
      </p>
      <p>
        discovery sucks
      </p>
    </section>
    <section>
      <p style="margin-top:150px">
        there's now an API for regulations
      </p>
    </section>
    <section>
      <p style="margin-top:150px">
        insurers | providers | manufacturers | consultants
      </p>
    </section>
    <section>
      <p style="margin-top:50px">
        <img src="/images/HCR.png" />
      </p>
    </section>
  </div>
</div>
<script type="text/javascript" src="/reveal/js/reveal.min.js"></script>
<script type="text/javascript" src="/reveal/lib/js/head.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.navigator').hide();
    $('.myles-footer').hide()
    Reveal.initialize({
    });
  });
</script>
<style>
  .bwimg{
    -webkit-filter: grayscale(100%) contrast(200%);
      
  }
</style>
