<html>
  <head>
  	<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@recborg">
		<meta name="twitter:title" content="HyperCard">
		<meta name="twitter:description" content="In 98, HyperCard birthed a novel interaction concept that's undergoing a renaissance.">
		<meta name="twitter:creator" content="@wikipedia">
		<meta name="twitter:image:src" content="http://upload.wikimedia.org/wikipedia/en/e/ee/HyperCard_2-icon.png">
		<meta name="twitter:domain" content="myles.io">
		<meta name="twitter:app:name:iphone" content="">
		<meta name="twitter:app:name:ipad" content="">
		<meta name="twitter:app:name:googleplay" content="">
		<meta name="twitter:app:url:iphone" content="">
		<meta name="twitter:app:url:ipad" content="">
		<meta name="twitter:app:url:googleplay" content="">
		<meta name="twitter:app:id:iphone" content="">
		<meta name="twitter:app:id:ipad" content="">
		<meta name="twitter:app:id:googleplay" content="">
    <style>
      .header{
        font-size:22px;
        padding:20px;
        width:100%;
      }
      iframe{
        width:100%;
        height:1000px;
      }
      body{
        overflow-x:hidden;
        overflow-y:hidden;
      }
    </style>
  </head>
  <body></body>
  <div class="header">
    In '98 HyperCard birthed a novel interaction concept that's undergoing a renaissance. See <a href="http://www.avc.com/a_vc/2014/02/hypercard-way-too-early.html">Fred Wilson's post</a> and <a href="http://trywildcard.com">Wildcard</a>.
  </div>
  <iframe src="http://en.wikipedia.org/wiki/HyperCard">
  </iframe>
</html>

