<div style="width:550px" class="stack-el">
  <p>
    <img style="margin-bottom:0px;height:60px" src="/images/glasses.svg" type="image/svg+xml" />
    <span style="color:#353535"><b>#if<span style="color:#FFF001">i</span>had<span style="color:#FFF001">glass</span></b></span>
  </p>
  <p>
    I'd <i>see</i> better.
  </p>
  <p>
    I have <a href="http://en.wikipedia.org/wiki/Optic_neuropathy">optic neuropathy</a> (bad, unfixable eyesight).
  </p>
  <p>
    Glass would give me more information about my environment than I get from my un-glassed eyes. 
  </p>
  <p>
    I could make better decisions, and
    do more stuff.
  </p>
  <p>
    .. and as a software engineer, I'd build glass apps aimed at helping people like me.
  </p>
  <p>
    <img id="myles-avatar" style="border:1px solid #FFF001;opacity:0.9;border-radius:10px" src="https://si0.twimg.com/profile_images/2683489945/9f9922d7934e84207934c48514de1e3e.jpeg" /><br>
  </p>
  <p>
    <i>words: 50</i>
  </p>

  
</div>
<script type="text/javascript">
  $(document).ready(function(){
    $('.myles-footer').css({'width': '550px', 'font-size': '22px'})
  });
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
