<link rel="stylesheet" href="/reveal/css/main.css">
<link rel="stylesheet" href="/stylesheets/pres.css">
<div id="rvl-cont" class="reveal">
  <div class="slides"> 
    <section>
      <p style="font-size:100px;margin-top:20%">
        <b>InFeed</b>
      </p>
    </section>
    <section>
      <p style="margin-top:15%">
        Evolution of <b>Social Feeds</b>
      </p>
      <p style="margin-top:30px">
       Static ------------------> Dynamic
      </p>
    </section>
    <section>
      <p style="margin-top:10%">
        <b>Old (static)</b>
      </p>
      <p>
      <blockquote style="margin-left:100px;" align="center" class="twitter-tweet" lang="en"><p>Hey Twitter. I want to sell a bunch of my books and possessions because I have too much stuff. What&#39;s the best way to do it?</p>&mdash; Tegan (@BellJarred) <a href="https://twitter.com/BellJarred/statuses/451357227820253184">April 2, 2014</a></blockquote>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </p>
    </section>
    <section>
      <p>
        <b>New (cards)</b>
      </p>
      <p>
        <image src="http://rack.3.mshcdn.com/media/ZgkyMDE0LzAzLzAxLzYzL3VubmFtZWQxLjU2NmQ3LmpwZwpwCXRodW1iCTEyMDB4OTYwMD4/e9584b10/889/unnamed-1.jpg">
      </p>
    </section>
    <section>
      <p style="margin-top:10%">
        <b>2 reasons</b>
      </p>
      <p>
        1. more time in the feed viewing ads
      </p>
      <p>
        2. better ads
      </p>
    </section>
    <section>
      <p style="margin-top:130px">
        <b>Twitter</b> has a partners-only Cards platform.
      </p>
      <p>
        (a great starting place).
      </p>
    </section>
    <section>
      <p>
        Interesing plays (for <b>Samsung</b>)
      </p>
      <div style="text-align:left">
        <p>
          1. Card-creation as a Service (AdHub)
        </p>
        <p>
          2. Native-app generated cards
        </p>
        <p>
          3. Tizen/Android SDK 
        </p>
        <p>
          4. ?
        </p>
      </div>
    </section>
  </div>
</div>
<script type="text/javascript" src="/reveal/js/reveal.min.js"></script>
<script type="text/javascript" src="/reveal/lib/js/head.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.navigator').hide();
    //$('.myles-footer').css('text-align', 'center');
    $('.myles-footer').hide()
    var pw = window.prompt("Password?","");
    if (pw=='cardsohard'){
      Reveal.initialize({
        transition:'linear'
      });
    }
    /*Reveal.initialize({
      transition:'linear'
    });*/
    
  });
</script>
