<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535"><b>I've Been Seeing Someone Else.</b></span>
    &nbsp;&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-text="I've Been Seeing Someone Else" data-via="recborg">Tweet</a>
    <hr>
  </p>
	<p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    I need to tell you something.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="italic icon-user"></i> 
    <i>Oh. Is everything OK?</i>
  </p>

	<p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
	I've been seeing someone else.
  </p>

  <p class="italic">
    <i style="font-size:32px;margin-right:10px;" class="italic icon-user"></i> 
	  I feel sick.
  </p>

	<p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
	It's not another woman.
  </p>

  <p class="italic">
    <i style="font-size:32px;margin-right:10px;" class="italic icon-user"></i> 
	... you're seeing a man?
  </p>

	<p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
	No. It's just that she's not real, technically.
  </p>

  <p class="italic">
    <i style="font-size:32px;margin-right:10px;" class="italic icon-user"></i> 
	What the fuck are you talking about?
  </p>

	<p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
	It's someone I dream about.
  </p>

  <p class="italic">
    <i style="font-size:32px;margin-right:10px;" class="italic icon-user"></i> 
	Who? Are you dreaming about your ex?
  </p>

	<p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
	No. It's not someone from my waking life. She only exists in my dream as far as I know.
  </p>

  <p class="italic">
    <i style="font-size:32px;margin-right:10px;" class="italic icon-user"></i> 
	Why are you telling me this? I dream about other guys sometimes, I don't tell you about it.
  </p>

	<p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
	I'm in love with her. I want to be exclusive with her. She isn't OK with us staying together.
  </p>

  <p class="italic">
    <i style="font-size:32px;margin-right:10px;" class="italic icon-user"></i> 
	You're an asshole. And you've lost your mind. Dreams aren't real. You can't be in love with someone who only exists in dreams.
  </p>

	<p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
	How do you know you're not dreaming right now?
  </p>

  <p class="italic">
    <i style="font-size:32px;margin-right:10px;" class="italic icon-user"></i> 
	Don't start. I'm going to bed.
  </p>

	<p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
	Seriously though. How do you know?
  </p>

  <p class="italic">
    <i style="font-size:32px;margin-right:10px;" class="italic icon-user"></i> 
	Because in my dreams things are always distorted.
  </p>

	<p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
	How so?
  </p>

  <p class="italic">
    <i style="font-size:32px;margin-right:10px;" class="italic icon-user"></i> 
	Last night I was in was back home in Iowa, but it wasn't my house. It felt like my house but it wasn't.
  </p>

	<p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
	Isn't this conversation a distortion, just like that? Would this 'really' happen?
  </p>

  <p class="italic">
    <i style="font-size:32px;margin-right:10px;" class="italic icon-user"></i> 
	It's distorted alright. But this conversation is taking place between me and you, in our apartment after a day at work just like a thousand other days.
  </p>

	<p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
	You've had just as many dreams though, right?
  </p>

  <p class="italic">
    <i style="font-size:32px;margin-right:10px;" class="italic icon-user"></i> 
	Yeah, but they're not connected like my waking life is. One night I'm in Iowa, the next night I'm scuba-diving.
  </p>

	<p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
	Why is connectedness the criteria for what's real?
  </p>

  <p class="italic">
    <i style="font-size:32px;margin-right:10px;" class="italic icon-user"></i> 
	..
  </p>

	<p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
	  The girl in my dreams thinks that you're the girl in my dreams.
  </p>

	<a href="https://twitter.com/share" class="twitter-share-button" data-text="I've Been Seeing Someone Else" data-via="recborg">Tweet</a>
</div>
