<html>
  <head>
  	<meta name="twitter:card" content="photo">
		<meta name="twitter:title" content="Meanwhile in JavaScript...">
		<meta name="twitter:creator" content="@recborg">
		<meta name="twitter:image:src" content="https://dl.dropboxusercontent.com/u/15758821/meanwhile_in_javascript.jpg">
		<meta name="twitter:domain" content="myles.io">
		<meta name="twitter:app:name:iphone" content="">
		<meta name="twitter:app:name:ipad" content="">
		<meta name="twitter:app:name:googleplay" content="">
		<meta name="twitter:app:url:iphone" content="">
		<meta name="twitter:app:url:ipad" content="">
		<meta name="twitter:app:url:googleplay" content="">
		<meta name="twitter:app:id:iphone" content="">
		<meta name="twitter:app:id:ipad" content="">
		<meta name="twitter:app:id:googleplay" content="">
  </head> 
  <body>
    <img style="margin:0px auto;width:40%" src="https://dl.dropboxusercontent.com/u/15758821/meanwhile_in_javascript.jpg" />
  </body>
</html>
