<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535"><b>Microhaus</b> is an incubator for individuals.</span>
  </p>
  <p>
    <img style="width:600px" src="http://www.green-desk.com/images/greendesk_office_space_photo.jpg">
  </p>
  <p>
    <strong>What</strong> | One month of free office space in which you 
    work on a project that takes you to the next level.
  </p>
  <p>
    <strong>Who</strong> |
  </p>
  <p>
  <div>
    <img class="micro-persona" src="https://si0.twimg.com/profile_images/1316038288/apartmnet.jpg">
  </div>
  <div>
    <a target="blank" href="http://twitter.com/talsafran">Tal Safran</a>
    Uri Bram writes fun, accessible books bringing a scientific or analytical perspective to complicated topics with big everyday impact. At Microhaus he will be working on a great new book about the art of conversation, trying to figure out some underlying ideas, concepts and distinctions that can actually enable normal (and/or awkward) people to become better conversationalists.
  </div>
  </p>
  <p>
    <img class="micro-persona" src="https://si0.twimg.com/profile_images/2943957737/b9162f415e7adb2e8b5d58b9dde0ab0c.jpeg"> <a target="blank" href="http://twitter.com/madelinekbr">Madeline Ross</a>
  </p>
  <p>
  <div>
    <img class="micro-persona" src="https://si0.twimg.com/profile_images/3654088744/7bb76dba2d902a2be2d56b5fe8a3dc75.jpeg">
<a target="blank" href="http://twitter.com/uribram">Uri Bram</a>
    writes fun, accessible books bringing a scientific or analytical perspective to complicated topics with big everyday impact. At Microhaus he will be working on a great new book about the art of conversation, trying to figure out some underlying ideas, concepts and distinctions that can actually enable normal (and/or awkward) people to become better conversationalists.
  </div>
  </p>
  <p>
    <img class="micro-persona" src="https://si0.twimg.com/profile_images/3493995778/3f6798a407dce288d12e499f55b71951.jpeg"> <a target="blank" href="http://twitter.com/ryaneshea">Ryan Shea</a>
  </p>
  <p>
    <img class="micro-persona" src="/images/jonsilverman.jpg"> <a target="blank" href="#">Jon Silverman</a>
  </p>
  <p>
    <img class="micro-persona" src="https://si0.twimg.com/profile_images/2683489945/9f9922d7934e84207934c48514de1e3e.jpeg"> <a target="blank" href="http://twitter.com/recborg">Myles Recny</a>
  </p>
  
	<p>
    <strong>When</strong> | June 3rd - June 30th
  </p>
  <p>
    <strong>Where</strong> | <a href="http://www.green-desk.com/">Greendesk</a> in Greenpoint, Brooklyn <a target="blank" href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=67+West+Street,+Brooklyn,+NY&aq=1&oq=67+West+Street,&sll=40.705031,-74.017193&sspn=0.01111,0.022638&vpsrc=0&ie=UTF8&hq=&hnear=67+West+St,+Brooklyn,+Kings,+New+York+11222&t=m&z=16&iwloc=A">(map)</a>
  </p>
  
  <p>
<!--    <strong>Apply</strong> | applications are now closed. | email <i>mkrecny@gmail.com</i> with:<br>
    a) a brief description of yourself, and where we can find you online.<br>
    b) the project you intend to work on at Microhaus.
  </p>
  <p>
    <u><span style="cursor:pointer" class="faq-toggle">FAQ</span></u>
  </p>
  <div style="display:none" class="faq">
  <p>
  <hr>
  </p>
  <p>
    <strong>Do you take a % ownership of the project?</strong><br>
    Nope - you own everything you create.
  </p>
  <p>
    <strong>Do I have to be a coder / techie?</strong><br>
    Absolutely not. If you're a writer, a designer, a photographer or 
    otherwise, I'd still love to hear from you.
  </p>
  <p>
    <strong>What do I get?</strong><br>
    - Free office space for the month of June<br>
    - Mentorship<br>
    - Companionship
  </p>
  <p>
    <strong>What can I work on?</strong><br>
    That's up to you.
  </p>
  </div>-->
  <p>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://microha.us" data-text="Microhaus | an incubator for individuals">Tweet</a>
  </p>
  <p>
  <hr>

    <span style="opacity:0.6">Microhaus is powered by  <a href="https://followgen.com"><span style="opacity:0.6">follow<b>gen</b></span></a></span>
  </p>
  
</div>
<script>
  $(document).ready(function(){
    $('.myles-footer').hide();
    $('.faq-toggle').click(function(){
      $('.faq').toggle();
    });
  });
  
</script>
