<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535"><b>Microhaus</b> | an incubator for individuals.</span>
  </p>
  <p>
    <img style="width:600px" src="http://www.green-desk.com/images/greendesk_office_space_photo.jpg">
  </p>
  <p>
    <strong>What</strong> | One month of free office space in which you 
    work on a project that takes you to the next level.
  </p>
	<p>
    <strong>When</strong> | June 2nd - June 30th
  </p>
  <p>
    <strong>Where</strong> | <a href="http://www.green-desk.com/">Greendesk</a> in <a href="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=67+West+Street,+Brooklyn,+NY&aq=1&oq=67+West+Street,&sll=40.705031,-74.017193&sspn=0.01111,0.022638&vpsrc=0&ie=UTF8&hq=&hnear=67+West+St,+Brooklyn,+Kings,+New+York+11222&t=m&z=16&iwloc=A">Greenpoint (Brooklyn).</a>
  </p>
  <p>
    <strong>Who</strong> | 6 awesome individuals + you.<br>
    (solo-founders, designers, writers, developers)<br>overseen by <a href="http://twitter.com/recborg">Myles Recny</a>
  </p>
  <p>
    <strong>Apply</strong> | email <i>mkrecny@gmail.com</i> with:<br>
    a) a brief description of yourself, and where we can find you online.<br>
    b) the project you intend to work on at Microhaus.
  </p>
  <p>
  <hr>
  </p>
  <p>
    <strong>Do you take a % ownership of the project?</strong><br>
    Nope - you own everything you create.
  </p>
  <p>
    <strong>What do I get?</strong><br>
    - Free office space for the month of June<br>
    - Mentorship<br>
    - Companionship
  </p>
  <p>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://microha.us" data-text="Microhaus | an incubator for individuals">Tweet</a>
  </p>
  
</div>
<script>
  $(document).ready(function(){
    $('.myles-footer').hide();
  });
</script>
