<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535;"><b>My Low Bandwidth Connection To Reality</b></span>
    &nbsp;&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-text="My Low Bandwidth Connection To Reality" data-via="recborg">Tweet</a>
    <hr>
  </p>
<p>
	At age five I took my first eyesight test. It was given at school, by the school nurse. That night, the nurse called my mother and told her that I needed glasses. I was devastated. I tearfully told her that without perfect vision, I could never be an astronaut.
</p>

<p>
	At the optometrist, glasses didn't help me see. It was confusing. I was diagnosed as an albino. My mother was skeptical. Finally, an elderly ophthalmologist called Dr. Bilson diagnosed me correctly. I was told that I had Optic Neuropathy.
</p>

<p>
	Optic Neuropathy is an affliction of the optic nerves, the fibrous cords which connect your eyes to your brain. They have the job of transmitting an impression of the photons hitting your eyes to your visual cortex.
</p>

<p>
	In my case, there's a quarter as many neurons populating my optic nerves as the average human. So at any moment, there's much less information reaching my brain. It's like having a low-bandwidth connection to reality.
</p>

<p>
	The doctor wanted to know if I'd inherited the condition and asked my mother about any history of poor vision in the family. She replied that since I was adopted, she couldn't say.
</p>

<p>
	I had to learn a few other hard truths. Among them: I'd never be very good at sports, I'd never be able to drive a car, my sight would get progressively worse as I aged, and  that all the other kids could actually see what was written on the blackboard at school.
</p>

<p>
	Playing soccer was hard. The field was large and events often happened at a distance too great for my weak eyes to penetrate. Most humiliating was when my washed-out perception of color would lead me to pass the ball to a boy in vertical black and white stripes, rather than the vertical black and gold stripes of my team.
</p>

<p>
	Despite this, my childhood was fairly normal. I didn't appear to be disabled, and most of my peers never realized I had a problem until they saw me reading a book with my nose two inches from the page. Sometimes I wished my disability was more apparent. That way, others would know why I was inexplicably bad at certain things.
</p>

<p>
	I had a penchant for music. I found that I could hear things on the radio and reproduce them rapidly and accurately on the guitar or the piano. In school I did well in classes where the information could be consumed by my ears (English, Music, History, languages) and struggled in those where information had to be consumed visually, off the blackboard (Math). <!--The exception was Art, which I was good at and loved.-->
</p>

<p>
	At fifteen, I began sailing competitively. My vessel was a tiny, one man dingy by the name of Exile. Races were held on weekends and required me to navigate a course marked out by buoys spanning Sydney Harbor. Invariably the buoys were spaced a few miles from one another, and invisible to me until I was fifty meters away. I managed by chasing the leaders of the pack, a tall cluster of white sails.

<p>
	Somehow, when I was the right age, Dr. Bilson decided that I was fit to drive. He wrote to the Road and Traffic Authority claiming that, although I would fail the sight test abysmally, I should be offered a license allowing daytime only driving, with a speed limit of sixty kilometers per hour. I quit driving one rainy afternoon after skidding into the back of a car stopped at a pedestrian crossing in front of me.
</p>

<p>
	At nineteen I moved to the US for university. Again I was drawn to classes where the information could be consumed by my ears. I ended up majoring in Philosophy and Chinese. I was also given the opportunity to study Math more easily (from a textbook) and ended up doing much better at it than I thought I could.
</p>

<p>
	In my last two years of college I discovered programming. It was an 'aha' moment. I felt empowered, able to understand, modify and create what I thought was the fundamental plumbing of modern life. Best of all, I could enlarge the fonts on my terminal, and read and write programs with ease.
</p>

<p>
	I followed some of the developments in stem cell research. I read about clinics in Europe where experimental, un-validated therapies were legal and fantasized about a therapy that would one day rebuild my optic nerves.
</p>

<p>
	I wondered what it would be like to suddenly see more. Would I actually see better if my optic nerves were fixed?
</p>
  
<p> I'd learned that the neural structures in my brain that would normally have been devoted to processing visual information, had actually been repurposed for other tasks. I learned that this repurposing was why I could hear better, feel better, smell better and think through certain types of problems better than many of my peers.
</p>

<p>I wondered if those pathways would again be repurposed, if I suddenly had more powerful optic nerves.
</p>

<p>
	We no longer live in the ecological niche in which our bodies evolved. I still wonder if this disability is really a disability. 
</p>
  <!--<p>
	  <a href="https://news.ycombinator.com/item?id=5861773">Comments</a>
	</p>-->

  <p>
<a href="https://twitter.com/share" class="twitter-share-button" data-text="My Low Bandwidth Connection To Reality" data-via="recborg">Tweet</a>
  </p>
</div>
