<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535"><b>Not Having A Real Job.</b></span>
    &nbsp;&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-text="Not Having A Real Job" data-via="recborg">Tweet</a>
    <hr>
  </p>

  <p>
	At first, not having a 'real job' was great. I was more productive and more in love with my work than I'd ever been in my life.
  </p>

  <p>
	I held crazy hours, waking up at 4am for a 6 hour code marathon while my girlfriend slept. I'd take long runs at random moments in the day and not think twice about staying out drinking on a Monday night. I became a regular at all my favorite coffee shops.
  </p>

  <p>
	In this mode, I went from concept to an MVP that was profitable to the tune of $2000 a month within six weeks, but this lifestyle came at a cost. 
  </p>

  <p>
	For the first time in my life, I was experiencing serious solitude. I was spending most of the day, every day alone.  My social circle included my girlfriend and hardly anyone else. I began to realize that, left to my own devices, I couldn't create a social life for myself. I'd always relied on the structure provided by working in an office. 
  </p>

  <p>
	I became a clingy, critical boyfriend. With only one person to focus my social attention on, I expected more from my girlfriend than was reasonable. I got mad when she got home 10 minutes later than she said she would.
  </p>

  <p>
	As my product started generating more and more money, I started spending less and less time developing it. I began to fantasize about being the next Tim Ferriss. Surely, I would fill my days with an eclectic mix of hobbies and spontaneous travel, funding the whole thing with the ultimate passive income stream.
  </p>

  <p>
	But for some reason I can't do that. I'm not good at using my free time for hobbies. I typically spend it thinking about work, or prototyping the 'next thing'. I guess I'm a workaholic. 
  </p>

  <p>
	I found myself in a co-working space the other day. I passed row after row of neatly ensconced workers and realized that I would be just as lonely working there, separated in that manner.
  </p>

  <p>
	At the end of a long hallway I came to a larger space, with windows serenely overlooking the East River to Manhattan. I imagined myself and a handful of others together laughing, coding, dreaming the future of the web together. I walked back down the long hallway and wrote a cheque.
  </p>

  <p>
	Microhaus is an experimental incubator for people. The product is you. Microhaus doesn't take equity, and it doesn't give you money. It gives you one month to focus on yourself, in the company of a select few who, like you, dream bigger than the rest.
  </p>

  <p>
	<a href="http://microha.us">microha.us</a>
  </p>
	
  <p>
	<a href="https://twitter.com/share" class="twitter-share-button" data-text="Not Having A Real Job" data-via="recborg">Tweet</a>
  </p>
  
</div>
