<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535;font-size:22px"><b>Passive Income Hacker vs Startup Guy.</b></span>
    &nbsp;&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-text="Passive Income Hacker vs Startup Guy" data-via="recborg">Tweet</a>
    <hr>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>What are you working on?</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    I'm working on a SaaS tool that foos bars.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>
    Oh cool, where are you guys based?  
    </i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Well, it's just me, I'm actually traveling, not based anywhere.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>
    Have you raised money? 
    </i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    No, the business is bootstrapped.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>
    So you just work out of coffee shops and stuff?
    </i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Sometimes, but mostly I don't work. I do other stuff.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>
   But what about dev, marketing, customer service etc? 
    </i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    I've automated 95% of the non-dev. The other 5% of non-dev I deal with in about 20 minutes a day. Every few weeks I'll have a big dev day.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>
    How can you scale the business without a team?
    </i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Because the business was designed with some very heavy constraints in place. 
  </p>

  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>
      Like what?
    </i>
  </p>

  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    I say no to any feature that would require a team to scale / support.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>
      That's absurd.   
    </i>
  </p>

  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    It limits my market drastically, but it's still big enough for me to live comfortably off of.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>
    How much are you making, if you don't mind me asking?
    </i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    5 figures in profit a month.
  </p>
  <p>
  <p>At this point Startup Guy's (SG) body language starts to exhibit some combination of awkwardness, distrust and scorn.</p><p> He realizes that Passive Income Hacker (PIH) is not a hustler, he's not funded or seeking funding, he doesn't go to the networking events and hasn't been through an accelerator.</p><p> He suspects that PIH is not someone who lives to work, and is not passionate about startups. He suspects they have wildly different goals, and that he has nothing to gain from interacting with PIH.</p><p> Worst of all, PIH is probably not trying to make the world a better place through technology. He's basically exploiting a narrow arbitrage opportunity and is probably either unethical or lazy.</p>
  </p>
  <p>
    <a href="https://news.ycombinator.com/item?id=6108092">View Comments</a>
  </p>
  <p>
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Passive Income Hacker vs Startup Guy" data-via="recborg">Tweet</a>
  </p>
</div>
