<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535"><b>Programmer. Come Work For Us.</b></span><br>
    <span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Programmer Come Work For Us" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://edu.mkrecny.com/thoughts/programmer-come-work-for-us" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
    <hr>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Programmer. Come work for us.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Why?
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Because we are the largest social network for alien life-forms vacationing on Earth.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
   Yes, it's on your website.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Every line of code you write will affect billions of beings.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
   How will I know?
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>It's on our website. Read the copy.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    But how will I know that every line of code is actually affecting billions of beings?
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Because you will have a dashboard.  </i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
  .. 
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>At times, new code that you write will correlate with a statistically significant change in one of the numbers on that dashboard. You will then know that you have affected billions of beings.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    I was actually thinking of starting my own business.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Why? It will be tiny. We are vast.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Yes. But when I affect someone's life, I'll get a email, maybe a call about it, and I'll have a real conversation with someone. I'll know who they are and how I affected them.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>How quaint.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    I'll be forced to learn things outside of programming. Things like how to design, how to market and how to do customer service.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>But you, are a programmer.
    </i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    I'm also a person. Programming is just one thing I do.
  </p>
  <p>
	  <a href="https://news.ycombinator.com/item?id=5704669">Comments</a>
	</p>
  <p>
	  <a href="http://microha.us">Incubate yourself @ Microhaus</a>
	</p>
  <p>
    <span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Programmer Come Work For Us" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://edu.mkrecny.com/thoughts/programmer-come-work-for-us" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
  </p>
</div>
