<html>
  <head>
  	<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@recborg">
		<meta name="twitter:title" content="HyperCard">
		<meta name="twitter:description" content="Sample summary for recard.">
		<meta name="twitter:creator" content="@recborg">
		<meta name="twitter:image:src" content="https://d11xdyzr0div58.cloudfront.net/static/vector_tux.864e6cdcc23e.png">
		<meta name="twitter:domain" content="myles.io">
		<meta name="twitter:app:name:iphone" content="">
		<meta name="twitter:app:name:ipad" content="">
		<meta name="twitter:app:name:googleplay" content="">
		<meta name="twitter:app:url:iphone" content="">
		<meta name="twitter:app:url:ipad" content="">
		<meta name="twitter:app:url:googleplay" content="">
		<meta name="twitter:app:id:iphone" content="">
		<meta name="twitter:app:id:ipad" content="">
		<meta name="twitter:app:id:googleplay" content="">
  </head> 
  <body>
    <h1> redirecting... </h1>
  </body>
  <% if (redirect_url) { %>
    <script type='text/javascript'>
      window.location.href = "<%= redirect_url %>";
    </script>
  <% } %>
</html>
