<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535;font-size:20px"><b>Starting a War on Hacker News</b></span>
    &nbsp;&nbsp;
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Start a War" >Tweet</a>
    <hr>
   </p>
   <p>
    I love blogging for Hacker News.
   </p>
<p>
	When a post goes viral,I get a hardcore adrenaline rush. Straight to the brain. It's a modern, digital addiction of the First World.
  </p>
  <p>
  The best part is having a real-time analytics solution in place when it happens, so you can watch your post erupt across the globe, second-by-second.
</p>
<p>
	All the mega-popular blog posts I've written, have been about my really dark experiences in the technology world. Isn't that perverse?
</p>  
<p>
  They've either been first-person, past-tense narratives, or a dialogue between an imaginary programmer and a random non-programmer (the ignoramous).
  </p>

<p>
	My most successful post, is one such dialogue. It's been read over 200,000 times, and been tweeted by 1,387 twits.

</p>
<p>
  At first, the non-programmer laments his lack of programming ability, envious of the coder. The programmer responds by saying that while programming is awesome, it's actually making him depressed, because he's trapped in a constant negative feedback loop with the compiler.
</p>

  <p>
	  The post was extremely successful because it had two key elements.
  </p>
  <p>
    The first was that it contained a message that depression-prone programmers wanted their friends outside of HN to hear. The message was "Hey! Programming is emotionally difficult. Be nicer to me." And also, "I know I'm sullen and uncommunicative sometimes, this is why".
  </p>
  <p>
    The second, is that it started a war. In one corner you had all of the programmers who, like me, had experienced the mild depression that can result from sustained programming. In the other corner, you had all the programmers who claimed that they had never gotten depressed from coding. The war went back and forth on Hacker News, sustaining it at the top position for an entire day, and keeping it on the the front page for about 80 hours.
  </p>
  <p>
    And yes, I personally took the brunt of the attack from the coders-who-never-get-sad. It was worth it.
  </p>
<p>
  If you want to be heard, start a war.
</p>
<p>
  <a href="https://news.ycombinator.com/item?id=6160141">Discussion</a>
</p>
<p>
    <span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Starting a War on Hacker News" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thougths/starting-a-war-on-hacker-news" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
</p>

</div>
