<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535;font-size:20px"><b>The One Man Team</b></span>
    &nbsp;&nbsp;
    <span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="The One Man Team" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://edu.mkrecny.com/thoughts/the-one-man-team" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
    <hr>
<p>
		<i>"There are a lot of $20k-$200k problems out there to solve that are not worth it for a company of any size to even touch."</i> -- <a href="http://twitter.com/snoonan">Snoonan</a>
	</p>

<p>
		These are the problems a Passive Income Hacker (PIH) should be going after. Working alone isn't always easy though. I miss the emotional stability that comes from sharing struggles and victories. I miss brainstorming. I miss having the guy next to me passionately pitch me on his new piece of architecture, and most of all, I miss pair programming. This is all especially true of working with teams in technology startups, because there's such a high density of really smart and creative people.
	</p>

<p>
		But if your current goal is to hack passive income, you're going to have to pursue it alone, and there's a lot of joy to be found in this too.
	</p>

<p>
		<i>"When you're a team of 1, your I/O bandwidth is almost infinite. If it's all in your brain, you don't have to explain anything, write anything down, have meetings, draw on whiteboards, etc. Your available time to work collapses down to solving specific business problems with every line of code or web page update. Imagine a case where you never have to compromise, argue, make brain dead concessions or spend resources on proving your position. Assuming you are right, and have a good head for business, marketing and writing half-way decent code, you can solve a small problem very efficiently."</i> -- <a href="http://twitter.com/snoonan">Snoonan</a>
	</p>

<!--<p>
		The advent of software has shrunk teams drastically. In some cases, work that used to be done manually has been totally automated by software. In other cases, the manual efforts of one or a few people can be amplified by software, to achieve what previously would have required an entire department. As software engineering evolves, it eats increasingly sophisticated jobs.
	</p>-->

		So as a PIH. you're wearing all the hats. As much as possible, create programmatic surrogates for yourself, and your would-be team members to wear those hats for you. You have to be okay with the idea that, most of the time, these surrogates can't do as good a job as a real human would. That's okay.
	</p>

<p>
		Spend just as much time engineering the software that runs the business automatically as you do engineering the product itself. This is the key difference between a passive income <i>hacker</i> and a regular passive income entrepreneur. 
	</p>
  <p>
	  <a href="https://news.ycombinator.com/item?id=6140316">View Comments</a>
	</p>
  <p>
    <span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="The One Man Team" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://edu.mkrecny.com/thoughts/the-one-man-team" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
  </p>
</div>
