<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535;font-size:20px"><b>There's no "I/O" in "Team"</b></span>
    &nbsp;&nbsp;
    <span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="There's no 'I/O' in 'Team'" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://edu.mkrecny.com/thoughts/theres-no-io-in-team" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
    <hr>
<p>
		<i>"There are a lot of $20k-$200k problems out there to solve that are not worth it for a company of any size to even touch."</i> -- <a href="http://twitter.com/snoonan">Snoonan</a>
	</p>

<p>
 So if you're a lone wolf, go after those ideas. It won't be easy though. You'll miss the emotional stability that comes from sharing struggles and victories. You'll miss brainstorming. You'll miss having the guy next to you passionately pitch you on his new piece of architecture, and most of all, you'll miss pair programming.
	</p>

  <p>
    Despite this, there's a serious efficiency upside:
  </p>

<p>
		<i>"When you're a team of 1, your I/O bandwidth is almost infinite. If it's all in your brain, you don't have to explain anything, write anything down, have meetings, draw on whiteboards, etc. Your available time to work collapses down to solving specific business problems with every line of code or web page update. Imagine a case where you never have to compromise, argue, make brain dead concessions or spend resources on proving your position. Assuming you are right, and have a good head for business, marketing and writing half-way decent code, you can solve a small problem very efficiently."</i> -- <a href="http://twitter.com/snoonan">Snoonan</a>
	</p>

  <p>
		So if you're wearing all the hats, as much as possible, create programmatic surrogates for yourself, and your would-be team members to wear those hats for you. You have to be okay with the idea that, most of the time, these surrogates can't do as good a job as a real human would.
	</p>

<p>
		Spend just as much time engineering the software that runs the business automatically as you do engineering the product itself. This is the key difference between a passive income <i>hacker</i> and a regular passive income entrepreneur. 
	</p>
  <p>
	  <!--<a href="https://news.ycombinator.com/item?id=6140316">View Comments</a>-->
	</p>
  <p>
  <span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="There's no 'I/O' in 'Team'" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://edu.mkrecny.com/thoughts/theres-no-io-in-team" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
  </p>
</div>
