<div style="width:550px;font-size:20px;" class="stack-el">

<p>
  <span style="font-size:22px;color:#353535"><b>This is a test</b></span><br>
  <hr>
</p>

<p><strong>This is merely a test he said</strong></p>
<p>All I know is that i want the ability to write markdown and know what i&#39;m doing said he.</p>
<p>This fantastic.</p>
<p>Let&#39;s test it.</p>


<p>
	<div class="social-likes">
			<div class="facebook" title="Share link on Facebook">Facebook</div>
			<div class="twitter" title="Share link on Twitter">Twitter</div>
			<div class="plusone" title="Share link on Google+">Google+</div>
	</div>
</p>

</div>
