<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535"><b>Twitter Should Shut Me Down.</b></span>
    &nbsp;&nbsp;<a href="https://twitter.com/share" class="twitter-share-button" data-text="Twitter Should Shut Me Down" data-via="recborg">Tweet</a>
    <hr>
  </p>
	<p>
	  In August of 2012 I left my job at a startup in New York City. I was 24.
	</p>
	<p>
	  I enrolled in a graduate program at NYU, wanting to study Computer Science and Biology.
	Two weeks in, one of my professors assigned a homework project that would rapidly turn into a profitable business.
	</p>

	<p>
	  The goal of the homework assignment was to design a system that would create a behavior change in a group of test subjects. The behavior change that I picked was getting people to follow me on Twitter. 
	</p>

	<p>
	  I guessed that if I programatically favorited people's tweets, they would get a notification about it, and might decide to follow me. It worked, and it worked well.
	</p>

	<p>
	  Without a thought to Twitter's terms of service, one weekend I created a simple website to sell the homework project as a service. People bought it.
	</p>

	<p>
	  I added the ability for people to target the type of audience they wanted to build, and I added charts so that people could see how many new followers they were gaining each day. I started renting a large cluster of virtual machines to scale the service while staying within Twitter's 'per IP address' rate limits.
	</p>

	<p>
	  When Twitter released its Ads API, I had an epiphany. My company was a Twitter Ads product! Rather than serving promoted tweets, or promoted accounts as impressions, I was serving targeted favorites. I'd re-invented the impression as a one-to-one social action. I built a campaign dashboard to reflect this new perspective, and the product started doing better than ever.
	</p>

	<p>
	  At this point the average value of a customer was $50 a month, and customers were in the hundreds. The margins were phenomenal.
  </p>   
  <p>
    My data showed that the cost of a real, targeted follower on my platform was about 12 cents, versus $2.50 on Twitter Ads. According to my customers (a mix of brands and individuals) the targeting and analytics was better too. I built an API, and then a white-label version of the product, forming partnerships with other businesses.
	</p>

	<p>
	  After returning from a holiday in Australia (my home), I didn't sign up for any classes in my second semester of NYU. I turned down my invitation to Hacker School to work full-time on my company. I was convinced that it was an opportunity that deserved 100% of my attention.
	</p>

	<p>
	  The elephant in the room, whose deafening footsteps I'd been trying to ignore, was my relationship with Twitter and its revenue model. Surely, I was in violation of the terms of service. I noticed new customers sending me messages like "this is so much better than Twitter Ads". Gulp.
	</p>
  
	<p>
	  The tech news has been awash with Twitter shut-downs lately. I'm sure that my company makes more revenue than some of those whose API access has been shut off to the outraged fanfare of onlooking technorati. Unlike those other companies, I don't have a leg to stand on. I'm directly cannibalizing Twitter's Ads revenue model and doing so on their very own platform.
	</p>

	<p>
	  I've tried to get in contact with Twitter. My hope is to get access to their Ads API, and start making money for both of us. I fully expect that they will shut me down, but I just can't get a meeting. It's ironic that when you want to get caught, you can't.
	</p>
  <p>
	  <!--<a href="http://news.ycombinator.com/item?id=5292591">Comments</a>-->
	</p>
  <p>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Twitter Should Shut Me Down" data-via="recborg">Tweet</a>
  </p>
  
</div>
