<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535"><b>Venture 'cruiting</b></span><br>
    <span style="display:none" class="social-actions">
      <!--<a href="https://twitter.com/share" class="twitter-share-button" data-text="Programmer Come Work For Us" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://edu.mkrecny.com/thoughts/programmer-come-work-for-us" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>-->
    </span>
    <hr>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>So, what have you been up to?</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    I've been building out a foo that bars accross platforms. 
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Interesting.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Thanks, it has some pretty encouraging early traction in the foobar market.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>But what's to stop Foo Inc. from just building this in-house?</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Well there's reason x, reason y and, most importantly reason z.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Hmm. Barring foos is your real business model.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Really? But surely that's not defensible because of a, b and c.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Barring foos is your real business model.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Huh. Well in order to do that we'd need to pivot the product and build out system x.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Have you heard about crushingit.io? </i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Yeah I think I saw a piece about them on TechMunch.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>We were recently part of their seed round and they are really crushing it.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Oh, awesome.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>They're building out their dev team now, making the first few key hires.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Huh.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>What they're doing is super-smart. In fact they're a super-great team. Great guys. Super-smart. Great space too.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Awesome.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>I think a special talent like you could learn a lot from guys like them. Such a great team. Love that team.</i>
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-github"></i> 
    Oh, well. That's a compelling idea, but I'm really passionate about the foobar space, and I actually want to run the ship now.
  </p>
  <p>
    <i style="font-size:32px;margin-right:10px;" class="icon-user"></i> 
    <i>Right. Well I'll send you the crushingit.io details anyway, and feel free to pass them on to any awesome engineers you know.</i>
  </p>
  <!--<p>
	  <a href="https://news.ycombinator.com/item?id=5704669">Comments</a>
	</p>-->
  <p>
    <span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="Venture 'Cruiting" >Tweet</a>
      <!--<span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://edu.mkrecny.com/thoughts/programmer-come-work-for-us" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>-->
    </span>
  </p>
</div>
