<%
	var title = "Why I stopped being a startup programmer";
	var url = 'why-i-stopped-being-a-startup-programmer';
%>


<div style="width:500px;font-size:20px;" class="stack-el">

<p>
  <span style="font-size:22px;color:#353535"><b><%= title %></b></span><br>
  <hr>
</p>
<p>
<i>This started as an email to a friend. He's considering entering the startup world and wanted to know why I'm so publicly out-of-love with startup programming.</i>
</p>
<p>
I'm glad I spent a few years being a startup programmer. If I could go back I wouldn't change it. Programming is the single most valuable skill I have. I won't go back to startup programming again willingly, but finances may force me to - and that's okay.
</p>

<p>
I know a ton of startup programmers. Reflecting on them, my feeling is that my love for the quantitative/analytical/technical makes me a great fit for startup programming. The rest of my personality makes me a bad fit.
</p>

<p>
1) People - most of my best friends are startup programmers. Having said that, they're pretty much all men, and pretty much all men just like me. White/Asian/Indian men who graduated from Ivy League schools and haven't really known a day of hardship in their life. Whilst I love these guys esp. how they challenge me intellectually, I want to spend equal amounts of time with women and people with a wide spread of backgrounds. It's enriching and fun.
</p

<p>
2) Ownership - Most commonly you'll be an implementor. That means, you get handed a design (PSD/wireframe/API schema/DB schema etc) and be told to write the code to actualize that design. Happily, there's a lot of room for creativity and strategy in how you implement that design... you own that bit. But after the honeymoon phase at a startup, I  begin to lose interest in the programming, because I feel like I don't have enough ownership of the ideas/designs at the top of the creative chain.
</p>

<p>
3) Hours - I really struggle to work all day at a desk. I can't even handle 9 to 5. Startup programmers are often pulling 10 to 12 hour days .. simply unbearable for me. I need to have the option of way less hours than that, and I need to be able to set my own schedule. This isn't a brattish unwillingness to work. When I have to endure the level of 'sameness' that comes from sitting at that desk, staring at that text editor day-in, day-out I get depressed. Also my body suffers, and it's really important to me to be very physically fit.
</p>

<p>
Take all of this with a pinch of salt. We're all different. I can honestly say that most of my startup programmer friends are in love with their jobs. Finally, I'll re-iterate that web-programming is the most valuable skill I have, and I don't think there's a better way to learn it than at a startup.
</p>

<p>

	<span style="display:none" class="social-actions">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= title %>" >Tweet</a>
    <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thoughts/<%= url %>" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
    <span class="g-plusone" data-size="medium"></span>
  </span>

</p>

</div>
