<div style="width:550px" class="stack-el">
  <p>
    <span style="color:#353535"><b>You've Been Cloned.</b></span><br>
<span style="display:none" class="social-actions">
      <a href="https://twitter.com/share" class="twitter-share-button" data-text="You've Been Cloned" >Tweet</a>
      <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thoughts/youve-been-cloned" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
      <span class="g-plusone" data-size="medium"></span>
    </span>
    <hr>
  </p>
<p>
	My current product is less than a year old, and it's been cloned 3 times. Say what you will about a product that can be cloned so rapidly, but being cloned is pretty rough. All of my cloners used to be my customers.
</p>	
<p>
	At first, I feel anger and outrage. Then betrayal. Anxiety follows in the form of, "what if this is better than my product?" Next, there's self-loathing, "how did I allow this to happen?!" Finally, I sink into numbness.
</p>
<p>
	In each case, I've either been contacted by, or made contact with the cloner. These conversations are not fun, but they've helped me learn more about the 'cloner psyche'. The following conversations are real excerpts from emails.
	</p>
<p>
	<u>Psyche 1: "The Hysterical"</u>
</p>	
<p>
	Me: "Hi. You stole a screenshot from my site, with my name in it, and replaced my face with your own. So your face now has my name labeling it. That's a little more intrusive than taking 'site design inspiration'. And it's just weird."
</p>
<p>
	Cloner: "I thought entrepreneurs were always willing to help and learn from one another... what's the difference if I used that screenshot or another screenshot?? I was just in rapid prototyping mode and that was the easiest way to get the screenshot... "
</p>
<p>
	Me: "Please remove the screenshot - I'm not OK with my name being on your site, especially when the picture is not actually me."
</p>	
<p>
	Cloner: "why spend time trying to hate on / attack someone way behind you?? I'm changing the screenshot as we speak... do you want something else from me? If you want I can feed your ego... your site is the best! it was a totally unique design that I ripped off... now can we go back to our own lives where we don't overlap??"
</p>	
<p>
	<u>Psyche 2: "The Generous"</u>
</p>
<p>
	Cloner: "I took it upon myself to build a tiny version that had just the features that I wanted.  Mine's crude and ugly, and I honestly don't have time of my own to build it into much.  I thought that firstly, I'd share a few other past lessons from my side: [insert advice about my product] "
</p>
<p>
	"But if it happens that our future plans align, specifically in the way of evolving a 'social blah' platform like example.com, I'd be interested to talk to you about helping meet some mutual needs here.  That includes the development of x, y, and some other z that I've been tinkering with. I have 10 years of pretty successful business experience, some domains/code, and a 5-person account team of marketing specialists to donate time from, and agency clientele lined up. But there's not enough time in the day for me to manage both inbound marketing and development."
</p>
<p>
	<u>Psyche 3: "The Stealthy"</u>
</p>
<p>
	"The Stealthy" was a customer for about 4 months. We exchanged some emails, and I remember thinking that he was cool. He was incredibly surreptitious about setting up his clone, and left only  the tiniest of breadcrumbs leading from the clone, back to him. I wasn't 100% sure it was him, and ultimately I took a stab in the dark:
</p>
<p>
	Me: "example.com? that's you right?"
</p>
<p>
	Cloner: "Yes I put it together."
</p>
<p>
	Me: "Feels very much like a clone of my site."
</p>
<p>
	Cloner: "Fair. I'm familiar with your work and they have similarities, so I won't entirely dispute that. I'm in the process of writing some new code that I expect will evolve it in a different, more blue ocean direction (and away from the user experience & benefit being driven entirely by x, y and z), but again, the underlying principle (particularly in current form) shares many things with your site"
</p>
<p>
	But after all my pseudo-psychology, I still don't get the cloner mentality. We've all had, "I wish I'd thought of that" moments. Most of us have had, "I thought of that ages ago" moments. But, "I want to copy that" moments? Hell-fucking-no. I want to make a buck as much as the next guy, but in the process, I need to believe that I'm building something original.
</p>
<p>
	Have you been cloned?
</p>
  <!--<p>
	  <a href="https://news.ycombinator.com/item?id=5607186">Comment on Hacker News</a>
	</p>-->
  <p>
<span style="display:none" class="social-actions">
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="You've Been Cloned" >Tweet</a>
    <span style="margin-left:-25px;margin-right:10px" class="fb-like" data-href="http://myles.io/thoughts/youve-been-cloned" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></span>
    <span class="g-plusone" data-size="medium"></span>
  </span>
  </p>
  
</div>
