.stack-el{
  font-size:1.5em;
  font-weight:100;
  margin:0px auto;
}

.micro-persona{
  width:200px;
  border:2px solid #eee;
}

.italic {
  font-style:italic;
}

.navigator{
  font-weight:400;
}

.blog-link{
  opacity:0.5;
  color:black;
  text-decoration:none;
}

.blog-link:hover{
  text-decoration:none;
}

.myles-footer{
  width:550px;
  font-size:22px;
}

.navigator a {
  /*font-size:1.6em;*/
  color:#202020;
  text-decoration:none;
}

.small-text{
  font-size:.8em;
}

.skinny{
  width:75%;
}

.slim{
  width:65%;
}

.wide{
  width:80%;
}

.full{
  width:99%;
}

.headroom-t{
  margin-top:5px;
}
.headroom-s{
  margin-top:20px;
}

.headroom-m{
  margin-top:40px;
}

.headroom-l{
  margin-top:60px;
}

.footroom-s{
  margin-bottom:20px;
}

.footroom-l{
  margin-bottom:40px;
}

/*emerging-mind*/
.automata{
  width:400px;
  height:400px;
  /*margin-left:135px;*/
}
